.aidoru_img , .aidoru_img img{
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    border-radius: 1rem;
    width: 600px;
}
.aidoru_img img{
    width: 100%;
}


hr{
    margin: 2% 0% 2% 0%;
}

.content_aidoru_01{
    text-align: center;
    background-color: rgb(219, 255, 231);
}

.content_aidoru_01 h2{
    color: red;
}

.content_aidoru_01 span{
    margin-left: 10%;
    margin-right: 10%;
    display: inline-block;
}

/* .nav-link:hover{
    font-size: 1.5rem
} */

.card h4{
    text-align: center;
    color: red;
}

.card img , .card{
    border-radius: 1rem;
}

.content_aidoru{
    /* display: table; */
    display: flex;
    margin: 0% 0% 0% 0%;
}

.content_aidoru div{
    margin: auto;
}


.rushia a img{
    display: block;
    margin: auto;
    width: 50%;
}

.card-title{
    font-size: 30px;
}
.card-text {
    line-height: 2rem;
    font-size: 20px;
}



@media screen and (max-width:1024px){
    .aidoru_img{
        width: 50%;
        margin: 2% 25% 0% 25%;
        display: inline-block
    }
    .content_aidoru{
        display: inline;
    }
    .content_aidoru div{
        margin: auto;
    }
}

