
/*字體*/
/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&family=Ubuntu:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200,400,600,800,900&display=swap');

/* h1,h2,h3,span,p {font-family: 'Lato', sans-serif;
    font-family: 'Ubuntu', sans-serif;} */
h1,h2,h3,h4,h5,h6,span,p,div,a{
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
@keyframes body {
    0%{
        /* transform: translateY(-100%); */
        opacity: 0;
    }   
    100%{
        /* transform: translateY(0%); */
        opacity: 1;
    }
}

body{
    animation : body 1s
}
::selection{
    background-color: rgb(0, 0, 255,0.1);
    color: rgb(0, 0, 255)
}

.mob_menu_control,#mob_menu{
    display: none;
}
.mob_menu{
    display: none;
}
#mob_top{
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 9999;
    opacity: 0.7;
    width: 50px;
    cursor: pointer;
    transform: translateX(1000%);
    transition: transform 0.3s;
}

header{
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px 0;
}
header .slideshow_img{
    max-width: 100%;
    margin: 0 auto;
    /* margin: 20px 0; */
    position: relative;
}
header img{
    width: 100%;
    border-radius: 10px;
}

header .header_btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: auto;
    padding-top: 20px;
}
header .header_btn>div{
    margin: auto 0;
    font-size: 0;
}

header .header_btn input{
    border: 2px solid black;
    width: 30px;
    height: 10px;
    border-radius: 25%;
    background-color: transparent;
    vertical-align: top;
    margin: auto 5px;
    cursor: pointer;
}
header .header_btn>button{
    padding:0 10px;
    font-size: 20px;
    background-color: transparent;
    vertical-align: middle;
    border: 2px solid black;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 900;
}

input[type="radio"]{
    display: none ;
}
label{
    cursor: pointer;
}
.header_switch_img_btn{
    background-color: rgb(255, 87, 129) !important;
}
@keyframes header_img {
    0%{
        transform: rotateY(180deg);
        opacity: 0;
    }
    100%{
        transform: rotateY(0deg);
        opacity: 1;
    }
}
.header_switch_img{
    animation: header_img 0.5s;
}
/* .slideshow_img a img{
    position: absolute;
    left: 0;
    top: 0;
} */
.position_left{
    width: 100% !important; 
    transform: translateX(-999%) !important; 
    opacity: 0 !important;
}

/* pc跟mob header結束 */

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgb(169, 245, 255),rgb(68, 255, 115));
}
.nav_menu>ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.nav_menu>ul li{
    position: relative;
}
.nav_menu>ul li a{
    display: inline-block;
    font-size: 18px;
    padding: 50px 40px;
    text-decoration: none;
    color: rgb(174, 0, 255);
}
.nav_menu>ul>li:hover{
    background: rgba(225, 161, 255, 0.2);
    transition: background 0.8s;
}
.nav_menu>ul>li:hover>a{
    transform: translateY(-5px);
}
.nav_menu>ul>li>a::before{
    width: 0%;
    content: '';
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: auto;
    border-bottom: 1px solid white;
}
.nav_menu>ul>li:not(.nav_menu3)>a:hover::before{
    transition: all 0.5s 0.4s;
    width: calc(100% - 60px);
}
.nav_menu3{
    position: relative;
}
.nav_menu3 ul{
    position: absolute;
    transform: scale(0) translateY(-400px);
    width: 220px;
    border: 1px solid rgb(212, 212, 212);
    box-shadow: 2px 5px 10px rgba(119, 119, 119,0.5);
    transition: transform .5s;
}
.nav_menu3:hover ul{
    /* display: block; */
    transform: scale(1) translateY(0);
    z-index: 10;
}
.nav_menu3 ul a{
    display: inline-block;
    background-color: white;
    width: calc(100% - 40px);
    z-index: 10;
    padding: 20px !important;
}
.nav_menu3 ul a:hover{
    background: rgb(243, 216, 255);
    transition: background 0.3s;
}
.nav_menu3 ul li:nth-of-type(1) a ,.mob_menu3 ul li:nth-of-type(1) a{
    color: blue;
}
.nav_menu3 ul li:nth-of-type(2) a ,.mob_menu3 ul li:nth-of-type(2) a{
    color: rgb(255, 0, 100);
}
.nav_menu3 ul li:nth-of-type(3) a ,.mob_menu3 ul li:nth-of-type(3) a{
    color: rgb(0, 197, 0)
}
.nav_menu3 ul li:nth-of-type(4) a ,.mob_menu3 ul li:nth-of-type(4) a{
    color: orange;
}
.nav_menu3 ul li:nth-of-type(5) a ,.mob_menu3 ul li:nth-of-type(5) a{
    color: rgb(133, 133, 133);
}
.nav_menu3 ul li:last-child a {
    border-top: 1px solid rgb(236, 236, 236);
}
.nav_menu3 ul li:last-child a ,.mob_menu3 ul li:last-child a{
    color: rgb(93, 93, 255);
}


.nav_down{
    width: 10px;
    vertical-align: baseline;
}


/* nav結束 */

main>section{
    padding: 100px;
}
main section:nth-of-type(odd){
    background: rgba(203, 245, 252, 0.8);
}
main section:nth-of-type(even){
    background: rgba(235, 255, 240, 0.8)
}
main section:not(.content1) article{
    transform: translateX(-200%);
    opacity: 0;
}

main .content2{
    background: rgb(255, 255, 255);
}
.content2 article div:nth-of-type(1){
    width: 45%;
    margin: auto;
}
.content_ani{
    transform: translateX(0%) !important;
    opacity: 1 !important;
    transition: all 0.8s;
}
.content_ani_h1{
    transform: translateY(0%) !important;
    opacity: 1 !important;
    transition: all 0.8s;
}

.content h1{
    font-size: 48px;
    color: rgb(255, 123, 0);
    text-align: center;
    opacity: 0;
    transform: translateY(-100%);
}
.content article{
    max-width: 1400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content article>div{
    width: 50%;
}
section img{
    vertical-align: middle;
}
.content .content_text{
    padding: 0 30px;
    box-sizing: border-box;
}
.content .content_text h2{
    color: red;
    font-size: 40px;
    padding: 20px 0;
}
.content .content_text p{
    font-size: 20px;
    line-height: 2rem;
}
.content .content_text span{
    color: red;
}
.content img{
    width: 100%;
    border-radius: 10px;
}
main section:nth-of-type(even) div:nth-of-type(1){
    order: 1;
}
.content a{
    text-decoration: none;
    color: blue;
}
.content a:hover{
    color: rgb(153, 0, 255);
}


footer {
    padding: 20px 0;
    background-color: black;
    text-align: center;
    color: white;
    line-height: 2rem;
}
footer a{
    color: yellow;
    transition: all .5s;
}
footer a:hover{
    color: rgb(255, 179, 129);
}
footer .footer_top_text{
    position: relative;
    display: inline-block;
}
.go_top , .go_top img{
    width: 45px;
    display: inline;
    margin: auto;
}
.go_top1{
    position: absolute;
    left: -60px;
}
.go_top2{
    position: absolute;
    right: -60px;
}



@media screen and (min-width:1024px){
    .content h1{
        padding-bottom: 70px;
    }
    #mob_top{
        display: none !important;
    }
}
@media screen and (max-width:1400px){
    .content article{
        max-width: 1000px;
    }
}

@media screen and (max-width:1023px){
    
    /*手機板選單*/

    .mob_menu{
        width: 80%;
        height: 100%;
        position: fixed;
        top: 0;
        transform:translateX(-100%);
        line-height: 2;
        background: rgb(185, 229, 250);
        transition: transform 0.5s;
        z-index: 999;
        display: block;
    }
    .mob_menu a{
        text-decoration: none;
        color: rgb(174, 0, 255);
        display: inline-block;
        width: calc(100% - 20px);
        padding: 20px 0 20px 20px;
    }
    #menu3{
        display: none;
    }
    .mob_menu3>ul{
        display: none;
    }
    .mob_menu3 ul a{
        width: calc(100% - 40px);
        padding-left: 40px;
    }
    .mob_menu a:hover{
        background: rgb(196, 200, 255);
    }
    .mob_menu_control{
        position: absolute;
        display: block;
        top: 8px;
        right: 8px;
        width: 54px;
        height: 44px;
        z-index: 2;
    }
    .mob_header svg{
        border: 2px solid black;
        border-radius: 5px;
        position: absolute;
        top: 0;
        right: 0;
        transition: opacity 0.2s;
    }
    .mob_header .svg1{
        opacity: 1;
        z-index: 1;
        cursor: pointer;
    }
    .mob_header .svg2{
        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }


    /*手機選單結束*/
    header{
        padding: 0;
    }

    nav{
        display: none;
    }
    .content p{
        letter-spacing: 0.1rem !important;
        line-height: 1.7 !important;
    }
    .content1{
        position: relative;
        margin-top: 70px;
    }
    header .slideshow_img{
        max-width: 90%;
        margin: 100px auto;
    }
    .slideshow_img::before{
        content: '';
        border-top: 1px solid rgb(212, 212, 212);
        top: -20px;
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }
    .slideshow_img::after{
        content: '';
        border-top: 1px solid rgb(212, 212, 212);
        bottom: -50px;
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
    }
    main>section{
        padding: 40px;
    }
    .content article{
        max-width: 100%;
    }
    .content h1{
        padding-bottom: 20px;
        font-size: 40px;
    }
    .content article .content_text h2{
        text-align: center;
        font-size: 36px;
    }
    .content article .content_text p{
        font-size: 20px;
    }
    .content article{
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }
    .content article div:nth-of-type(1){
        width: 80vh;
        margin: auto;
    }
    .content article>div{
        width: 100%;
        margin: 20px 0;
    }
    main section:nth-of-type(even) div:nth-of-type(1){
        order: -1;
    }
    .go_top{
        display: none;
    }
}




@media screen and (max-width:768px){
    .footer_pc{
        display: none;
    }
}