<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <link rel="shortcut icon" href="images/mob_error.webp"></link>
    <meta charset="UTF-8">
    <title>音時艾拉-音時エラー</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”description” content="音時艾拉|音時エラー 石油系唱歌少女"/>
    <meta name="Keywords" content="音時艾拉,音時エラー"/>

    <meta property="og:type" content="article"/>
    <meta property="og:url" content="https://ayvc0420.github.io/error.html"/>
    <meta property="og:image" content="https://ayvc0420.github.io/images/error_header.webp"/>
    <meta property="og:title" content="音時艾拉,音時エラー 石油系唱歌少女">
    <meta property="og:locale" content="zh-TW"/>
    <meta property="og:description" content="音時艾拉,音時エラー 石油系唱歌少女"/>
    <meta property="og:keywords" content="VTuber,音時エラー,音時艾拉"/>

    <meta name="twitter:url" content="https://ayvc0420.github.io/error.html"/>
    <meta name="twitter:title" content="音時艾拉,音時エラー 石油系唱歌少女">
    <meta name="twitter:description" content="音時艾拉,音時エラー 石油系唱歌少女"/>
    <meta name="twitter:image" content="https://ayvc0420.github.io/images/error_header.webp">
    
    <meta property="name" content="介紹-VTuber音時艾拉"/>
    <meta property="image" content="https://ayvc0420.github.io/images/error_header.webp"/>
    <meta property="url" content="https://ayvc0420.github.io/error.html"/>
    <meta property="description" content="音時艾拉,音時エラー 石油系唱歌少女"/>
    <meta property="keywords" content="VTuber,音時エラー,音時艾拉"/>

    <meta property="article:tag" content="音時エラー,音時艾拉" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/vt_style.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <style>
        #mob_menu_div::before{
            content: url(./images/mob_error.webp);
            position:relative;
            left: 5%;
        }
        header .header_btn input{
            border: 2px solid rgb(250, 13, 96) !important;
        }
        header .header_btn>button{
            color: rgb(250, 13, 96) !important;
            border: 2px solid rgb(250, 13, 96) !important;
        }
        .vt_main>section:nth-of-type(odd){
            background: rgba(255, 243, 252, 0.8);
        }
        .vt_main>section:nth-of-type(even){
            background: rgba(250, 226, 251, 0.8);
        }
        .vt_audio_div{
            opacity: 0;
            transform: translateY(60%);
        }
        .vt_audio_div::after{
            content: '音時艾拉-可愛女僕';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            color: red;
            padding-bottom: 60px;
            width: 50vw;
            border-bottom: 1px solid rgba(114, 114, 114, 0.2); 
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-7GGHVD11L0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7GGHVD11L0');
    </script> -->


</head>
<body style="background-color: #ebebeb;">
    <img src="./images/mob_top.png" alt="go_top" id="mob_top" class="mob_btn_anim" title="回去頂部囉">
    <section class="mob_header">
        <label for="mob_menu" class="mob_menu_control" id="mob_menu_control">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </label>
        <input type="checkbox" name="" id="mob_menu">
        <div class="mob_menu" id="mob_menu_div">
            <ul>
                <li><a href="./index.html">首頁</a></li>
                <li><a href="./vtuber.html">速覽百名VTuber</a></li>
                <li class="mob_menu3">
                    <a href="#" class="menu3_control">介紹成員&nbsp;<img src="./images/chevron-down.svg" class="nav_down"></a>
                    <ul class="menu3">
                        <li><a href="./error.html">音時艾拉</a></li>
                        <li><a href="./pekora.html">兔田佩克拉</a></li>
                        <li><a href="./miko.html">櫻巫女</a></li>
                        <li><a href="./rushia.html">潤羽露西婭</a></li>
                        <li><a href="./korone.html">戌神沁音</a></li>
                        <li><a href="./chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="./recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
                <li><a href="./gameblock.html">勇者鬥魔王遊戲</a></li>
            </ul>
        </div>
    </section>
    <header id="header"> 
        <section class="slideshow_img">
            <div>
                <!-- <img src="images/miko_header.jpg" class="position_left"> -->
                <a v-for="(item,index) in img" :href="item.imgPixivSrc" target="new" v-show="index === key" title="去pixiv看圖!"><img :class="{header_switch_img: index===key}" :src="item.imgSrc" :alt="item.alt"></a>
            </div>
            <div class="header_btn">
                <button class="next" @click="imgSwitch(key-1)"><</button>
                <div>
                    <input type="button" v-for="(item,index) in img" @click="imgSwitch(index)" :class="{header_switch_img_btn:index==key}">
                </div>
                <button class="previous" @click="imgSwitch(key+1)">></button>
            </div>
        </section>
    </header>
    
    <nav>
        <div class="nav_menu">
            <ul>
                <li><a href="./index.html">首頁</a></li>
                <li><a href="./vtuber.html">速覽百名VTuber</a></li>
                <li class="nav_menu3">
                    <a href="#">介紹成員&nbsp;<img src="./images/chevron-down.svg" class="nav_down"></a>
                    <ul>
                        <li><a href="./error.html">音時艾拉</a></li>
                        <li><a href="./pekora.html">兔田佩克拉</a></li>
                        <li><a href="./miko.html">櫻巫女</a></li>
                        <li><a href="./rushia.html">潤羽露西婭</a></li>
                        <li><a href="./korone.html">戌神沁音</a></li>
                        <li><a href="./chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="./recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
                <li><a href="./gameblock.html">勇者鬥魔王遊戲</a></li>
            </ul>
        </div>
    </nav>


    <div class="vt_main">
        <section class="vt_content1 vt_content">
            <article id="c1_1">
                <input type="radio" name="control_c1" id="control_c1_img1" checked>
                <input type="radio" name="control_c1" id="control_c1_img2">
                <div class="c1_label_div">
                    <label for="control_c1_img1" class="c1_label"></label>
                    <label for="control_c1_img2" class="c1_label"></label>
                </div>
                <div class="c1_title1">
                    <h2>艾拉正身照</h2>
                    <div>
                        <div><a href="./images/error.webp" data-fancybox="vt_c1" data-caption="音時艾拉正身照 圖片取自於巴哈【情報】【新人Vtuber】台灣新人Vtuber 個人勢 音時エラー"><img src="./images/error_title.webp" alt="音時艾拉-音時エラー" title="音時艾拉-音時エラー"></a></div>
                    </div>
                </div>
                <div class="c1_title2">
                    <h2>顏藝艾拉</h2>
                    <div>
                        <div><a href="./images/error_1.webp" data-fancybox="vt_c1" data-caption="玩表情的音時艾拉 圖片取自於初配信直播截圖"><img src="./images/error_title_1.webp" alt="音時艾拉-音時エラー" title="音時艾拉-音時エラー"></a></div>
                    </div>
                </div>
            </article>
        </section>
        <section class="vt_content2 vt_content">
            <div class="content_pos"><h1>人物介紹</h1></div>
            <article id="c2_1">
                <div class="content_text">
                    <h3>中文名稱 : 音時艾拉</h3>
                    <h3>日文名稱 : 音時エラー | オトトキエラー</h3>
                    <p title="艾拉的自我介紹">由 AI 人工智慧公司所製造之 ST02T 家事型女僕機器人。由於機體 BUG 過多、被安置在公司倉庫成為倉管。逐漸萌生自我意識的艾拉決定逃出倉庫，展開新的人生 
                        <br>身高150公分、年齡2歲，生日4月4日。</p>
                    <a href="https://twitter.com/ototoki_error" target="new"><img src="./images/twitter.svg" class="icon">推特頻道</a>
                    <a href="https://www.youtube.com/c/OTOTOKI-ERROR" target="new"><img src="./images/youtube.svg" class="icon">YouTube頻道</a>
                </div>
            </article>
        </section>
        <section class="vt_content3 vt_content">
            <div class="content_pos"><h1>VTuber事蹟</h1></div> 
            <article id="c3_1">
                <a href="./images/ototokierror_card_1.webp" data-fancybox="vt_c3" data-caption="表演顏藝的音時艾拉 圖片取自꒰ෆ 初× 配信 ෆ꒱ 女僕機器人 ST02T 始動【音時エラー / ᴛᴡᴠᴛᴜʙᴇʀ】影片截圖" ><img src="./images/ototokierror_card_01.webp"alt="音時艾拉" title="表演顏藝的音時艾拉"></a>
                <div class="content_text">
                    <h3>顏藝艾拉</h3>
                    <p><a href="https://www.youtube.com/watch?v=HP3g31YFgHU&t=3058s" target="new">回顧初配信</a>時因受到自己初配信的影響而一起加入顏藝臉。</p>
                </div>
            </article>
            <article id="c3_2">
                <a href="./images/ototokierror_card_2.webp" data-fancybox="vt_c3" data-caption="正在coding的音時艾拉  圖片取自Vtuber x Coding 蹦出新滋味 影片截圖" ><img src="./images/ototokierror_card_02.webp" alt="音時艾拉" title="直播coding的艾拉"></a>
                <div class="content_text">
                    <h3>coding艾拉</h3>
                    <p>艾拉除了日常的直播外不時也會客串六角學院直播<a href="https://www.youtube.com/watch?v=HEc1oM_a9JU" target="new">VTuber x Coding</a>。</p>
                </div>
            </article>
            <article id="c3_3">
                <a href="./images/ototokierror_card_3.webp" data-fancybox="vt_c3" data-caption="愛心艾拉 圖片取自twitter https://twitter.com/ototoki_error/status/1538763497881817088" ><img src="./images/ototokierror_card_03.webp"  alt="音時艾拉" title=""></a>
                <div class="content_text">
                    <h3>圖畫艾拉</h3>
                    <p>艾拉不時也會<a href="https://www.youtube.com/watch?v=AJ7oR6Kqk98&t=1140s" target="new">製作圖片</a>。或貼圖表情給粉絲。</p>
                </div>
            </article>
        </section>

        <section class="vt_content4">
            <div class="vt_video_div" id="vt_video_div">
                <h1>艾拉巨大化</h1>
                <video src="./video/error_c4.mp4" controls loop></video>
            </div>
            <section class="vt_audio_div" id="vt_audio_div">
                <div>
                    <h4>賞櫻???</h4>
                    <audio src="./audio/error01.mp3" controls></audio>
                    <h4>早安語音包</h4>
                    <audio src="./audio/error02.mp3" controls></audio>
                </div>
                <div>
                    <h4>去睡覺</h4>
                    <audio src="./audio/error03.mp3" controls></audio>
                    <h4>happy new year</h4>
                    <audio src="./audio/error04.mp3" controls></audio>
                </div>
            </section>
        </section>
    </div>

    <footer>
        <!-- Copyright &copy;  -->
        <p>據說艾拉是吃可愛長大的</p>
        <div class="footer_top_text"><a href="#" class="go_top go_top1"><img src="images/top.png" title="回去頂部囉"></a>你也覺得艾拉很可愛嗎?還不趕快追隨訂閱!<a href="#" class="go_top go_top2"><img src="./images/top.png" title="回去頂部囉"></a></div>
        <p title="還不快加入">٩(◦`꒳´◦)۶</p>
        <p><a href="https://drive.google.com/file/d/1M8jRKX8-nqfDO2hdPTq1Jy0J6aq9LxaU/view?usp=sharing" target="new">自製置頂應用程式(音時艾拉)</a>，<a href="./images/ototokierror_app_introduce.png" data-fancybox="" data-caption="自製置頂應用程式(音時艾拉)">說明</a></p>
        <p>如您的圖片不想出現在網站上請與我聯絡!</p>
        <p>もし貴方の写真は掲載を希望されない場合は、ご連絡いただければ幸いです</p>
        <!-- <p class="footer_pc">本網站使用JavaScript ES6技術，不支援IE瀏覽器</p> -->

    </footer>

    <script src="js/vue.min.js"></script>
    <script>
        ;(function(Vue){
            let headerData = {
            key:0,
            img:[
                {imgPixivSrc:'https://twitter.com/mlmlm_official/status/1575108059390627840', imgSrc:'./images/error_header.webp',alt:'圖片twitter ototoki_error'},
                {imgPixivSrc:'https://twitter.com/ototoki_error/header_photo', imgSrc:'./images/error_header_1.webp',alt:'圖片twitter mlmlm_official'},
                {imgPixivSrc:'https://twitter.com/ototoki_error/status/1583444825591803905', imgSrc:'./images/error_header_2.webp',alt:'圖片twitter ototoki_error'},
                {imgPixivSrc:'https://twitter.com/ototoki_error/status/1542918437898317825', imgSrc:'./images/error_header_3.webp',alt:'圖片twitter ototoki_error'},
            ]}
    
            new Vue({
                el:'#header',
                data:headerData,
                methods: {
                    imgSwitch(index){
                        this.key = (index + this.img.length) % this.img.length;
                    },
                },
                mounted: function(){
                    setInterval(()=>{
                        if(this.key < this.img.length -1){
                            this.key +=1;
                        }else{
                            this.key = 0;
                        }
                    },15000)
                },
            })
        })(Vue)
    </script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/layout.js"></script>
    <script src="js/vt_javascript.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script>
        ;(function(){
            $('[data-fancybox="vt_c1"]').fancybox({
                loop : true
            })
            $('[data-fancybox="vt_c3"]').fancybox({
                loop: true,
            });
        })()
    </script>
    
</body>
</html>