<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <link rel="shortcut icon" href="images/logo.png"></link>

    <meta charset="UTF-8">
    <title>帶你快速了解hololive|現今最紅的VTuber</title>
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="title" content="帶你快速了解hololive|現今最紅的VTuber"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name=”description” content="帶你快速了解什麼是hololive以及介紹現今最紅的產業-VTuber,了解虛擬偶像-VTuber" />
    <meta name="Keywords" content="hololive,hololive是什麼,Virtual YouTuber,VTuber,VTuber是什麼,VTuber中文,介紹VTuber,兎田ぺこら,兔田佩克拉,沙花叉クロヱ,沙花叉克蘿耶"/>

    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://ayvc0420.github.io/"/>
    <meta property="og:image" content="https://ayvc0420.github.io/images/maxresdefault.jpg"/>
    <meta property="og:title" content="帶你快速了解hololive|現今最紅的VTuber" >
    <meta property="og:locale" content="zh-TW"/>
    <meta property="og:description" content="帶你快速了解什麼是hololive以及介紹現今最紅的產業-VTuber,了解虛擬偶像-VTuber"/>
    <meta property="og:keywords" content="hololive,hololive是什麼,Virtual YouTuber,VTuber,VTuber是什麼,VTuber中文,介紹VTuber,兎田ぺこら,兔田佩克拉,沙花叉クロヱ,沙花叉克蘿耶"/>

    <meta name="twitter:url" content="https://ayvc0420.github.io/"/>
    <meta name="twitter:title" content="帶你快速了解hololive|現今最紅的VTuber">
    <meta name="twitter:description" content="hololive,hololive是什麼,VTuber,VTuber是什麼,VTuber中文,介紹VTuber"/>
    <meta name="twitter:image" content="https://ayvc0420.github.io/images/maxresdefault.jpg">

    <meta property="name" content="介紹-VTuber"/>
    <meta property="image" content="https://ayvc0420.github.io/images/maxresdefault.jpg"/>
    <meta property="url" content="https://ayvc0420.github.io/"/>
    <meta property="description" content="帶你快速了解什麼是hololive以及介紹現今最紅的產業-VTuber,了解虛擬偶像-VTuber"/>
    <meta property="keywords" content="hololive,hololive是什麼,VTuber,VTuber是什麼,VTuber中文,介紹VTuber,兎田ぺこら,兔田佩克拉,沙花叉クロヱ,沙花叉克蘿耶"/>



    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <style>
        .secret{
            background-color: rgba(203, 245, 252, 0.8);
            color: rgba(203, 245, 252, 0.8);
        }
        @media screen and(min-width:1025px) {
            .content4{
                word-wrap: break-word !important;
            }
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7GGHVD11L0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7GGHVD11L0');
    </script>
</head>
<body style="background-color: #d7f6ff;">
    <img src="images/mob_top.png" alt="go_top" id="mob_top" class="mob_btn_anim" title="回去頂部囉">
    <section class="mob_header">
        <div class="mob_menu_control" id="mob_menu_control">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </div>
        <div class="mob_menu" id="mob_menu_div">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="mob_menu3">
                    <a href="#" class="menu3_control">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul class="menu3">
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </section>

    <header id="header"> 
        <section class="slideshow_img">
            
            <div >
                <!-- <img src="images/miko_header.jpg" class="position_left"> -->
                <a v-for="(item,index) in img" :href="item.imgPixivSrc" target="new" v-show="index === key" ><img :class="{header_switch_img: index===key}" :src="item.imgSrc" :alt="item.alt"></a>
            <div class="header_btn">
                <button class="next" @click="imgSwitch(key-1)"><</button>
                <div>
                    <input type="button" v-for="(item,index) in img" @click="imgSwitch(index)" :class="{header_switch_img_btn:index==key}">
                </div>
                <button class="previous" @click="imgSwitch(key+1)">></button>
            </div>
        </section>
    </header>


    <nav>
        <div class="nav_menu">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="nav_menu3">
                    <a href="#">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul class="menu3">
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </nav>


    <main>

        <section class="content1 content">
            <article>
                <div><a href="images/maxresdefault.jpg" data-fancybox data-caption="hololive虛擬偶像全員照"><img src="images/maxresdefault.jpg" alt="hololive虛擬偶像全員照" title="取自於hololive官網"></a></div>
                <div class="content_text">
                    <h2>什麼是hololive?</h2>
                    <p>hololive<span title="日文名稱">(ホロライブ)</span>是一間日本經紀品牌公司，其母公司為COVER株式會社，hololive主要經營的事業為VTuber，為目前全球最熱門的虛擬偶像經紀公司。</p>
                    <p>旗下知名的VTuber有 : 時乃空、兔田佩克拉、櫻巫女、潤羽露西婭、寶鐘瑪琳、白上吹雪、桐生可可(已畢業)、戌神沁音、沙花叉克蘿耶等<br>每年還會不定時進行招募如最新一期成員:<span>祕密結社</span><i class="secret" title="你不應該知道的">遜砲結社</i>。</p>
                    <br>
                    <p>詳細可見 : <a href="https://zh.wikipedia.org/wiki/Hololive_production#%E6%89%80%E5%B1%9EVTuber" title="去維基百科" target="new">維基百科-hololive-VTuber名單</a></p>
                </div>
            </article>
        </section>
        <section class="content2 content">
            <article>
                <div><a href="images/tokinosora.jpg" data-fancybox data-caption="時乃空 圖片取自於萌娘百科"><img src="images/tokinosora_conten2.jpg" alt="時乃空圖片" title="時乃空"></a></div>
                <div class="content_text">
                    <h2>hololive的崛起</h2>
                    <p>2017年9月，時乃空正式出道成為COVER旗下第一名VTuber，隔年招募選拔後hololive一期生也正式出道，隨即不久後COVER宣布進軍中國市場。<br>
                        2020年9月hololive English組成立，9月13日Gawr Gura在YouTube進行初次直播就突破十萬人訂閱，隨後10月突破100萬人訂閱，同時也是全球第三突破百萬訂閱的VTuber。</p>
                        <p>截至2021年10月hololive旗下已有超過<a href="https://zh.wikipedia.org/wiki/Hololive_production#cite_note-20" target="new" title="前往維基百科查看名單">二十三名</a>VTuber突破一百萬訂閱，其三期生中最出名的潤羽露西婭<span title="日文名稱">(潤羽るしあ)</span>、兔田佩克拉<span title="日文名稱">(兎田ぺこら)</span>在YouTube的Super Chat累積收益超過五億日元。</p>
                    </div>
            </article>
        </section>
        <section class="content3 content">
            <article>
                <div><a href="images/hololive_anime.jpg" data-fancybox data-caption="桐生可可畢業前全員合照 圖片取自於 hololive YouTube官方頻道【アニメ】元気でな！ 影片截圖"><img src="images/hololive_anime_content.jpg" alt="hololive虛擬偶像全員照" title="桐生可可畢業前全員合照"></a></div>
                <div class="content_text">
                    <h2>hololive3D動畫</h2>
                    <p>除了平時成員的直播，hololive的YouTube官方頻道每週日都會發布新的一集3D動畫影片。</p>
                    <p>每集影片皆有百萬次以上的觀看水準，登場角色均為hololive成員，偶爾可以看見<a href="https://zh.moegirl.org.cn/%E5%8F%8B%E4%BA%BAA" title="萌娘百科連結-hololive的工作人員" target="new">友人A</a>登場客串。</p>
                    <p>內容均為搞笑小劇場居多，不時也有人提供各國語言的翻譯字幕。</p>
                    <br>
                    <p>觀看hololive的動畫影片可至 : <a href="https://www.youtube.com/playlist?list=PL1NeGg1woXqngQytLzL8lJJLYwmzk1Wuq" target="new">hololive YouTube官方頻道</a></p>
                </div>
            </article>
        </section>
        <section class="content4 content">
            <h1>VTuber的發展</h1>
            <article>
                <div><a href="images/AIChannel.jpg" data-fancybox data-caption="圖片取於【Official Music Video】First Light Supported by sanipak 影片截圖"><img src="images/AIChannel_contentt.jpg" alt="絆愛" title="絆愛"></a></div>
                <div class="content_text">
                    <h2>第一位VTuber的誕生</h2>
                    <p>VTuber全名「Virtual YouTuber」中文為「虛擬YouTuber」<br>在YouTube以外的平台稱為「Virtual Streamer」。<br>最早期透過虛擬人物進行互動的人是Ami Yamato，但<a href="https://laughingsquid.com/ami-yamato-a-3d-animated-vlogger-that-does-not-appear-to-know-she-is-virtual/" target="new" title="前往laughingsquid blog說明">本人並不覺得</a>自己是VTuber，在這之後WEATHEROID TypeA Airi是第二個較知名使用虛擬形象互動的人物。<br>雖然TypeA Airi比絆愛(キズナアイ)出現的時間還要更早四年左右，但此刻她並不是以虛擬YouTuber的身分在活動，而是在2018年5月17日才正式以VTuber的身分開始生放送(現場直播)。</p>
                    <p>直到2016年底絆愛在YouTube開設頻道「A.I.Channel」是首次使用Virtual Streamer(バーチャルライバー)一詞的虛擬YouTuber，為其配音的聲優一直至2020年才由官方確認為「春日望」進行配音。</p>
                    <p>VTuber的外觀出自繪師之手，因其<span title="VTuber特點">可愛外貌、魅力</span>等因素，絆愛受到世界各地的粉絲關注，在數月內YouTube頻道的訂閱數進行了跳躍式增長，絆愛的出現打破一往傳統的直播模式改由真人透過虛擬人物的外觀與粉絲互動。</p>
                    <br>
                    <p>更多關於絆愛相關資訊可以參考 : <a href="https://zh.wikipedia.org/wiki/%E7%B5%86%E6%84%9B" target="new">維基百科</a></p>
                </div>
            </article>
        </section>
        <section class="content5 content">
            <article>
                <div><a href="images/vtuber_king.jpg" data-fancybox data-caption="曾經活躍的VTuber五天王 圖片取自於twitter"><img src="images/vtuber_king_content.jpg" alt="VTuber五天王" title="VTuber五天王"></a></div>
                <div class="content_text">
                    <h2>VTuber的崛起</h2>
                    <p>隨著絆愛的出現，各家公司也逐漸推出代表自身形象的虛擬人物作為VTuber，可自由設計的外觀及新興的行銷創作使得「虛擬實況主」一詞在世界各地逐漸熱門。</p>
                    <p>目前絕大多數控制虛擬人物的行為是透過動作捕捉系統進行操控，詳細可參考 :  <a href="https://home.gamer.com.tw/creationDetail.php?sn=4534158" target="new">猴子也能懂的VTuber、虛擬角色起始教學</a></p>
                    <p>每位VTuber出道皆有不同的設定伴隨，稱為人設，獨特的人設是VTuber的一個重大特點，其VT界的兩大公司甚至會為熱門的VTuber舉辦線上演唱會。根據PLAYBOARD的數據指出，<a href="https://support.google.com/youtube/answer/7288782?hl=zh-Hant" target="new">YouTube Super Chat</a>全球前百名排行榜VTuber所收到的金額累積超過<span title="更詳細參考PLAYBOARD數據">十億新台幣</span>。</p>
                    <br>
                    <p>詳細VTuber收益數據可以參考 : <a href="https://playboard.co/en/youtube-ranking/most-superchated-all-channels-in-japan-total" target="new">PLAYBOARD</a></p>
                </div>
            </article>
        </section>
        <section class="content6 content">
            <article>
                <div><a href="images/vtuber_company.jpg" data-fancybox data-caption="上方為 : hololive(ホロライブ) 下方為 : 彩虹社(ANYCOLOR) 圖片取於兩社公司的官網"><img src="images/vtuber_company.jpg" alt="hololive和彩虹社的圖片" title="hololive 彩虹社"></a></div>
                <div class="content_text">
                    <h2>VTuber界的兩大巨頭</h2>
                    <p>hololive與彩虹社(ANYCOLOR)熱門時間皆於2018年左右開始至今，相較於hololive；彩虹社的VTuber招募計畫更為寬鬆，旗下成員也多出數倍人數，兩社的商業經營手法大相逕庭。</p>
                    <p>現今，兩社旗下較知名的VTuber每次直播觀看人數約為數千至數萬人不等，Super Chat全球前百名也可以看見不少兩社的成員，其成果取決於公司的行銷資源以及VTuber個人與粉絲的互動。</p>
                    <p>同一個公司新推出的VTuber中甚至會出現<a href="./recommendYoutube.html" title="連結到VTuber常見術語頁面">箱推</a>的行為，如hololive六期生，全員初次直播最高同時觀看人數皆超過14萬人以上。</p>
                </div>
            </article>
        </section>
        <section class="content7 content">
            <article>
                <div><a href="images/vrchat.jpg" data-fancybox data-caption="VR CHAT 圖片取自於VR Chat官網"><img src="images/vrchat_centent.jpg" alt="VR CHAT圖片" title="VR CHAT"></a></div>
                <div class="content_text">
                    <h2>虛擬人物界的遊戲</h2>
                    <p>在VTuber逐漸流行時，VR Chat也是一款有類似風格的遊戲。</p>
                    <p>VR Chat是一款大型多人線上互動遊戲，在VR Chat裡可以使用公開免費的模組套直接套用也可以自行製作角色，使用者透過鍵鼠操作方式或VR裝置進入VR Chat世界，在VR Chat世界裡你將透過虛擬替身的身份與其他玩家進行交流、互動等行為。<br><br>同類型的遊戲有<a href="https://store.steampowered.com/app/471710/Rec_Room/" target="new" title="前往steam連結">Rec Room</a></p>
                </div>
            </article>
        </section>


    </main>

    <footer>
        <!-- Copyright &copy;  -->
        <p>本網站僅為個人研習訓練用途</p>
        <div class="footer_top_text"><a href="#" class="go_top go_top1"><img src="images/top.png" title="回去頂部囉"></a>其中使用的圖片、素材等全部權利歸其原主所有。<a href="#" class="go_top go_top2"><img src="images/top.png" title="回去頂部囉"></a></div>
        <p>如您的圖片不想出現在網站上請與我聯絡!</p>
        <a href="mailto:ayvc0420@gmail.com">ayvc0420@gmail.com</a>
        <p title="跪謝">ｍ（__ __）ｍ</p>
        <p class="footer_pc">本網站使用JavaScript ES6技術，不支援IE瀏覽器</p>

    </footer>
    <!-- vue2.6.14 -->
    <script src="js/vue.min.js"></script>
    <script>
        window.addEventListener('load',function(){

            let headerData = {
                key:0,
                img:[
                    {imgPixivSrc:'https://www.pixiv.net/artworks/90195061', imgSrc:'./images/rushia_header.webp',alt:'pixiv90195061'},
                    {imgPixivSrc:'https://www.pixiv.net/artworks/91479662', imgSrc:'./images/usadapekora_header.webp',alt:'pixiv91479662'},
                    {imgPixivSrc:'https://www.pixiv.net/artworks/88300974', imgSrc:'./images/sakuramiko_header.webp',alt:'pixiv88300974'},
                    {imgPixivSrc:'https://www.pixiv.net/artworks/92148396', imgSrc:'./images/korone_header.webp',alt:'pixiv92148396'},
                ]}

            new Vue({
                el:'#header',
                data:headerData,
                methods: {
                    imgSwitch(index){
                        this.key = (index + this.img.length) % this.img.length;
                    },
                },
                mounted: function(){
                    setInterval(()=>{
                        if(this.key < this.img.length -1){
                            this.key +=1;
                        }else{
                            this.key = 0;
                        }
                    },15000)
                },
            })
        })

    </script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/layout.js"></script>
    <script src="js/index_javascript.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>

</body>
</html>