<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <link rel="shortcut icon" href="images/mob_korone.png"></link>
    <meta charset="UTF-8">
    <title>戌神沁音-戌神ころね</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”description” content="戌神沁音|戌神ころね 在城市內一家麵包店的狗"/>
    <meta name="Keywords" content="戌神沁音,戌神ころね"/>

    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://ayvc0420.github.io/korone.html"/>
    <meta property="og:image" content="https://ayvc0420.github.io/images/92686622_korone_header.jpg"/>
    <meta property="og:title" content="戌神沁音|戌神ころね 在城市內一家麵包店的狗">
    <meta property="og:locale" content="zh-TW"/>
    <meta property="og:description" content="戌神沁音|戌神ころね 在城市內一家麵包店的狗"/>
    <meta property="og:keywords" content="VTuber,戌神沁音,戌神ころね"/>

    <meta name="twitter:url" content="https://ayvc0420.github.io/korone.html"/>
    <meta name="twitter:title" content="戌神沁音|戌神ころね 在城市內一家麵包店的狗">
    <meta name="twitter:description" content="戌神沁音|戌神ころね 在城市內一家麵包店的狗"/>
    <meta name="twitter:image" content="https://ayvc0420.github.io/images/92686622_korone_header.jpg">

    <meta property="name" content="介紹-VTuber戌神沁音"/>
    <meta property="image" content="https://ayvc0420.github.io/images/92686622_korone_header.jpg"/>
    <meta property="url" content="https://ayvc0420.github.io/korone.html"/>
    <meta property="description" content="戌神沁音|戌神ころね 在城市內一家麵包店的狗"/>
    <meta property="keywords" content="VTuber,戌神沁音,戌神ころね"/>

    <meta property="article:tag" content="戌神沁音,戌神ころね" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/vt_style.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <style>


        #mob_menu_div::before{
            content: url(images/mob_korone.png);
            position:relative;
            left: 5%;
        }
        header .header_btn input{
            border: 1px solid chocolate !important;
        }
        header .header_btn>button{
            color: chocolate !important;
            border: 1px solid chocolate !important;
        }
        .vt_main>section:nth-of-type(odd){
            background: rgb(255, 247, 172);
        }
        .vt_main>section:nth-of-type(even){
            background: rgb(255, 218, 150);
        }
        .vt_audio_div{
            opacity: 0;
            transform: translateY(60%);
        }
        .vt_audio_div::after{
            content: '沁音毒品音檔-容易上癮';
            position: absolute;
            top: 0px;
            left: 0;
            right: 0;
            margin: auto;
            color: red;
            padding-bottom: 60px;
            width: 50vw;
            border-bottom: 1px solid rgba(114, 114, 114, 0.2); 
        }

    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7GGHVD11L0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-7GGHVD11L0');
    </script>

</head>
<body style="background-color: #fff6d7;">
    <img src="images/mob_top.png" alt="go_top" id="mob_top" class="mob_btn_anim" title="回去頂部囉">
    <section class="mob_header">
        <label for="mob_menu" class="mob_menu_control" id="mob_menu_control">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </label>
        <input type="checkbox" name="" id="mob_menu">
        <div class="mob_menu" id="mob_menu_div">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="mob_menu3">
                    <a href="#" class="menu3_control">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul class="menu3">
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </section>
    <header id="header"> 
        <section class="slideshow_img">
            <div>
                <!-- <img src="images/miko_header.jpg" class="position_left"> -->
                <a v-for="(item,index) in img" :href="item.imgPixivSrc" target="new" v-show="index === key" ><img :class="{header_switch_img: index===key}" :src="item.imgSrc" :alt="item.alt"></a>
            </div>
            <div class="header_btn">
                <button class="next" @click="imgSwitch(key-1)"><</button>
                <div>
                    <input type="button" v-for="(item,index) in img" @click="imgSwitch(index)" :class="{header_switch_img_btn:index==key}">
                </div>
                <button class="previous" @click="imgSwitch(key+1)">></button>
            </div>
        </section>
    </header>

    <nav>
        <div class="nav_menu">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="nav_menu3">
                    <a href="#">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul>
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </nav>


    <div class="vt_main">
        <section class="vt_content1 vt_content">
            <article id="c1_1">
                <h2>沁音麵包狗</h2>
                <div>
                    <div><a href="images/76909869_koronne.jpg" data-fancybox data-caption="圖片取自於pixiv 76909869 繪師 : @kurumi_tsuchi"><img src="images/76909869_koronne_title.jpg" alt="戌神沁音" title="麵包狗"></a></div>
                </div>
                <h3>繪師 : @kurumi_tsuchi</h3>
            </article>
        </section>
        <section class="vt_content2 vt_content">
            <div class="content_pos"><h1>人物介紹</h1></div>
            <article id="c2_1">
                <div class="content_text">
                    <h3>中文名稱 : 戌神沁音</h3>
                    <h3>日文名稱 : 戌神ころね | いぬがみ ころね</h3>
                    <p title="譯於hololive官網人物說明">在城市內一家麵包店的狗，看店的空閒時間會玩遊戲。左肩總是沒好好穿著而滑落，脖子上的項圈無時無刻提醒著是狗狗的身份。
                        <br>身高156公分，年齡不詳，生日10月1日。</p>
                    <a href="https://twitter.com/inugamikorone" target="new"><img src="images/twitter.svg" class="icon">推特頻道</a>
                    <a href="https://www.youtube.com/channel/UChAnqc_AY5_I3Px5dig3X1Q" target="new"><img src="images/youtube.svg" class="icon">YouTube頻道</a>
                </div>
            </article>
        </section>
        <section class="vt_content3 vt_content">
            <div class="content_pos"><h1>VTuber事蹟</h1></div> 
            <article id="c3_1">
                <a href="images/korone_card_1.gif" data-fancybox="vt_c3" data-caption="困惑沁音 | 圖片取自於tenor.com Inugami Korone Hololive GIF" ><img src="images/korone_card_1.jpg" alt="問號沁音" title="問號沁音"></a>
                <div class="content_text">
                    <h3>困惑沁音</h3>
                    <p><a href="https://www.youtube.com/watch?v=KA8kdtQ-m5g#t=3610s" target="new">直播中</a>戌神沁音表現出一臉困惑。<br><a href="https://www.youtube.com/watch?v=QVtaMwDqs3k" target="new">國外網友</a>將沁音的表情加上數學背景做成謎因動畫圖。</p>
                </div>
            </article>
            <article id="c3_2">
                <a href="images/korone_card_02.jpg" data-fancybox="vt_c3" data-caption="圖片取自於 ころね 實況勇者が弱すぎるRPG！？！？ 影片截圖" ><img src="images/korone_card_2.jpg" alt="戌神沁音" title="沁音笑"></a>
                <div class="content_text">
                    <h3>狗狗遊戲</h3>
                    <p>戌神沁音經常實況各種遊戲，因此有網友將一系列實況製作成<a href="https://www.youtube.com/watch?v=v7DHfUXhqgQ&list=PLg7v2jGH_QmjuPxgpfG228eZaFW3ttxQM&index=15" target="new">精華</a>，可以看見沁音在玩遊戲時的獨特笑聲。</p>
                </div>
            </article>
            <article id="c3_3">
                <a href="images/79108022_card_3.jpg" data-fancybox="vt_c3" data-caption="圖片取自於pixiv : 79108022 繪師 : @Ta1_murata" ><img src="images/79108022_card_03.jpg" alt="戌神沁音" title="齁拉唷"></a>
                <div class="content_text">
                    <h3>ほらよ～齁拉唷</h3>
                    <p>沁音實況時經常會說的口頭禪「ほらよ~」，被日本網友剪輯成一部<a href="https://www.youtube.com/watch?v=uz4Hh4lPFJ0&t=48s" target="new">影片</a>。</p>
                </div>
                <a href="images/1134069204368314369_card_5.jpg" data-fancybox="vt_c3" data-caption="隱藏圖片-齁拉唷 | 圖片取自於twitter推文1134069204368314369 繪師 : @hanamori59ya" ></a>
            </article>
        </section>

        <section class="vt_content4">
            <div class="vt_video_div" id="vt_video_div">
                <h1>狗狗念英文</h1>
                <video muted src="video/korone_c4.mp4" controls loop></video>
            </div>
            <section class="vt_audio_div" id="vt_audio_div">
                <div>
                    <h4>齁拉唷~ほらよ～</h4>
                    <audio src="audio/korone01.mp3" controls loop></audio>
                    <h4>沁音學佩克拉笑聲</h4>
                    <audio src="audio/korone02.mp3" controls loop></audio>
                </div>
                <div>
                    <h4>繩文土器土器</h4>
                    <audio src="audio/korone03.mp3" controls loop></audio>
                    <h4>狗狗狂笑</h4>
                    <audio src="audio/korone04.mp3" controls loop></audio>
                </div>
            </section>
        </section>

    </div>

    <footer>
        <!-- Copyright &copy;  -->
        <p>經常看狗狗直播的你</p>
        <div class="footer_top_text"><a href="#" class="go_top go_top1"><img src="images/top.png" title="回去頂部囉"></a>千萬不要被傳染了<span title="根據萌娘百科資料顯示是來自奶奶的口音，具有非常強的傳染性">「沁音口音」</span><a href="#" class="go_top go_top2"><img src="images/top.png" title="回去頂部囉"></a></div>
        <p title="擊掌的顏文字">ヽ(∀゜ )人( ゜∀)ノ</p>
        <!-- <p>PS.狗狗與貓又小粥是極度貼貼黨</p> -->
        <p>如您的圖片不想出現在網站上請與我聯絡!</p>
        <p>もし貴方の写真は掲載を希望されない場合は、ご連絡いただければ幸いです</p>
        <p class="footer_pc">本網站使用JavaScript ES6技術，不支援IE瀏覽器</p>

    </footer>

    <!-- vue2.6.14 -->
    <script src="js/vue.min.js"></script>
    <script>
    window.addEventListener('load',function(){

        let headerData = {
            key:0,
            img:[
                {imgPixivSrc:'https://www.pixiv.net/artworks/92686622', imgSrc:'./images/92686622_korone_header.webp',alt:'pixiv92686622'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/92838286', imgSrc:'./images/92838286_korone_header.webp',alt:'pixiv92838286'},
                {imgPixivSrc:'https://twitter.com/fuka_hire/status/1381973482099990534/photo/1', imgSrc:'./images/1381973482099990534_korone_header.webp',alt:'twitter1381973482099990534'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/93132546', imgSrc:'./images/93132546_korone_header.webp',alt:'pixiv93132546'},
            ]}
    
        new Vue({
            el:'#header',
            data:headerData,
            methods: {
                imgSwitch(index){
                    this.key = (index + this.img.length) % this.img.length;
                },
            },
            mounted: function(){
                setInterval(()=>{
                    if(this.key < this.img.length -1){
                        this.key +=1;
                    }else{
                        this.key = 0;
                    }
                },15000)
            },
        })
    })

    </script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/layout.js"></script>
    <script src="js/vt_javascript.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>

</body>
</html>