<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <link rel="shortcut icon" href="images/mob_miko.png"></link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”description” content="櫻巫女|桜巫女 是一名在電腦世界中侍奉神明的巫女"/>
    <meta name="Keywords" content="櫻巫女,桜巫女"/>

    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://ayvc0420.github.io/miko.html"/>
    <meta property="og:image" content="https://ayvc0420.github.io/images/miko_header.jpg"/>
    <meta property="og:title" content="櫻巫女|桜巫女 是一名在電腦世界中侍奉神明的巫女">
    <meta property="og:locale" content="zh-TW"/>
    <meta property="og:description" content="櫻巫女|桜巫女 是一名在電腦世界中侍奉神明的巫女"/>
    <meta property="og:keywords" content="VTuber,櫻巫女,桜巫女"/>

    <meta name="twitter:url" content="https://ayvc0420.github.io/miko.html"/>
    <meta name="twitter:title" content="櫻巫女|桜巫女 是一名在電腦世界中侍奉神明的巫女">
    <meta name="twitter:description" content="櫻巫女|桜巫女 是一名在電腦世界中侍奉神明的巫女"/>
    <meta name="twitter:image" content="https://ayvc0420.github.io/images/miko_header.jpg">

    <meta property="name" content="介紹-VTuber櫻巫女"/>
    <meta property="image" content="https://ayvc0420.github.io/images/miko_header.jpg"/>
    <meta property="url" content="https://ayvc0420.github.io/miko.html"/>
    <meta property="description" content="櫻巫女|桜巫女 是一名在電腦世界中侍奉神明的巫女"/>
    <meta property="keywords" content="VTuber,櫻巫女,桜巫女"/>

    <meta property="article:tag" content="櫻巫女,桜巫女" />
    <title>hololive成員|櫻巫女-桜巫女</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/vt_style.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <style>
        #mob_menu_div::before{
            content: url(images/mob_miko.png);
            position:relative;
            left: 5%;
        }
        header .header_btn input{
            border: 2px solid pink !important;
        }
        header .header_btn>button{
            color: pink !important;
            border: 2px solid pink !important;
        }
        .vt_main>section:nth-of-type(odd){
            background: rgb(255, 232, 232);
        }
        .vt_main>section:nth-of-type(even){
            background: rgb(255, 209, 216);
        }
        .vt_audio_div{
            opacity: 0;
            transform: translateY(60%);
        }
        .vt_audio_div::after{
            content: '櫻巫女-菁英櫻語音檔';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            color: red;
            padding-bottom: 60px;
            width: 50vw;
            border-bottom: 1px solid rgba(114, 114, 114, 0.2); 
        }

    </style>

    <script src="js/vue.min.js"></script>
    <script>
        
    window.addEventListener('load',function(){

        let headerData = {
        key:0,
        img:[
            {imgPixivSrc:'https://www.pixiv.net/artworks/90697958', imgSrc:'./images/miko_header.jpg',alt:'pixiv90697958'},
            {imgPixivSrc:'https://www.pixiv.net/artworks/89707884', imgSrc:'./images/miko_header_1.jpg',alt:'pixiv89707884'},
            {imgPixivSrc:'https://twitter.com/sakuramiko35/status/1388738206443610117/photo/1', imgSrc:'./images/miko_header_2.jpg',alt:'twitter1388738206443610117'},
            {imgPixivSrc:'https://www.pixiv.net/artworks/86239985', imgSrc:'./images/miko_header_3.jpg',alt:'pixiv86239985'},
        ]}
    
        new Vue({
            el:'#header',
            data:headerData,
            methods: {
                imgSwitch(index){
                    this.key = (index + this.img.length) % this.img.length;
                },
            },
            mounted: function(){
                setInterval(()=>{
                    if(this.key < this.img.length -1){
                        this.key +=1;
                    }else{
                        this.key = 0;
                    }
                },15000)
            },
        })
    })
    </script>

</head>
<body style="background-color: #fff7f7;">
    <img src="images/mob_top.png" alt="go_top" id="mob_top" class="mob_btn_anim" title="回去頂部囉">
    <section class="mob_header">
        <label for="mob_menu" class="mob_menu_control" id="mob_menu_control">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </label>
        <input type="checkbox" name="" id="mob_menu">
        <div class="mob_menu" id="mob_menu_div">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="mob_menu3">
                    <a href="#" class="menu3_control">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul class="menu3">
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </section>
    <header id="header"> 
        <section class="slideshow_img">
            <div>
                <!-- <img src="images/miko_header.jpg" class="position_left"> -->
                <a v-for="(item,index) in img" :href="item.imgPixivSrc" target="new" v-show="index === key" ><img :class="{header_switch_img: index===key}" :src="item.imgSrc" :alt="item.alt"></a>
            </div>
            <div class="header_btn">
                <button class="next" @click="imgSwitch(key-1)"><</button>
                <div>
                    <input type="button" v-for="(item,index) in img" @click="imgSwitch(index)" :class="{header_switch_img_btn:index==key}">
                </div>
                <button class="previous" @click="imgSwitch(key+1)">></button>
            </div>
        </section>
    </header>
    
    <nav>
        <div class="nav_menu">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="nav_menu3">
                    <a href="#">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul>
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </nav>


    <div class="vt_main">
        <section class="vt_content1 vt_content">
            <article id="c1_1">
                <input type="radio" name="control_c1" id="control_c1_img1" checked>
                <input type="radio" name="control_c1" id="control_c1_img2">
                <div class="c1_label_div">
                    <label for="control_c1_img1" class="c1_label"></label>
                    <label for="control_c1_img2" class="c1_label"></label>
                </div>
                <div class="c1_title1">
                    <h2>開心大笑的miko</h2>
                    <div>
                        <div><a href="images/miko.jpg" data-fancybox="vt_c1" data-caption="開心大笑的miko 圖片取自於miko的twitter 一瞬YouTubeを全ロスした女の生還 推文"><img src="images/miko_title.jpg" alt="櫻巫女" title="開心大笑的miko"></a></div>
                    </div>
                </div>
                <div class="c1_title2">
                    <h2>失去帳戶的miko</h2>
                    <div>
                        <div><a href="images/miko_1.jpg" data-fancybox="vt_c1" data-caption="失去帳戶的miko 圖片取自於miko的twitter 一瞬YouTubeを全ロスした女の生還 推文"><img src="images/miko_title_1.jpg" alt="櫻巫女" title="失去帳戶的miko"></a></div>
                    </div>
                </div>
            </article>
        </section>
        <section class="vt_content2 vt_content">
            <div class="content_pos"><h1>人物介紹</h1></div>
            <article id="c2_1">
                <div class="content_text">
                    <h3>中文名稱 : 櫻巫女</h3>
                    <h3>日文名稱 : 桜巫女 | さくらみこ</h3>
                    <p title="譯於hololive官網人物說明">是一名在電腦世界中侍奉神明的巫女，受到眾神之託來到日本，執行任務期間讓她決定成為一名虛擬巫女偶像而每天努力著。
                        <br>身高152公分、年齡不詳，生日3月05日。</p>
                    <a href="https://twitter.com/sakuramiko35" target="new"><img src="images/twitter.svg" class="twitter_icon icon">推特頻道</a>
                    <a href="https://www.youtube.com/channel/UC-hM6YJuNYVAmUWxeIr9FeA" target="new"><img src="images/youtube.svg" class="ytb_icon icon">YouTube頻道</a>
                </div>
            </article>
        </section>
        <section class="vt_content3 vt_content">
            <div class="content_pos"><h1>VTuber事蹟</h1></div> 
            <article id="c3_1">
                <a href="images/sakuramiko_card_1.jpg" data-fancybox="vt_c3" data-caption="圖片取自於pixiv 85484845 繪師 : @ririimon" ><img src="images/sakuramiko_card_01.jpg"alt="櫻巫女" title="嬰兒巫女"></a>
                <div class="content_text">
                    <h3>櫻語的由來</h3>
                    <p>因天生自帶奶音有口齒不清的屬性因此以<span title="櫻巫女語言">櫻語</span>(嬰兒)得名，與<span title="畢業了">桐生可可</span>聯播互動時因獨特風格產生了<span title="分為日式櫻語及英式櫻語">菁英櫻(英)語</span>一詞。</p>
                </div>
            </article>
            <article id="c3_2">
                <a href="images/sakuramiko_card_2.jpg" data-fancybox="vt_c3" data-caption="圖片取自於【35P Project 2020】〓🌸さくらみこ2周年記念企画🌸〓 影片截圖" ><img src="images/sakuramiko_card_02.jpg" alt="櫻巫女" title="35P與櫻巫女在一起"></a>
                <div class="content_text">
                    <h3>35P的由來</h3>
                    <p>養病期間櫻巫女將粉絲圖像化並稱呼為<span title="日文中諧音3(Mi)5(Ko)與製作人(Producer)組合成35p">35P</span>，在直播中經常可以看見35P作為吉祥物登場，同時35P也被櫻巫女用來稱呼粉絲們。</p>
                </div>
            </article>
            <article id="c3_3">
                <a href="images/sakuramiko_card_3.jpg" data-fancybox="vt_c3" data-caption="圖片取自於pixiv 84720803 繪師 : @suhiyoru_isu15" ><img src="images/sakuramiko_card_03.jpg"  alt="櫻巫女與佩克拉" title="pekora&miko股民眾所期待的一天"></a>
                <div class="content_text">
                    <h3>巫女與佩克拉股</h3>
                    <p>出道前已和兔田佩克拉相識，直播中長期聯動，因此有<span title="Pekora and Miko的股票，意旨兩人再一起就會高漲的股票">PM股</span>的產生，櫻巫女與佩克拉在<a href="https://youtu.be/nmNewGkh6cU" target="new" title="2020年12月 3D披露會-中文字幕">3D披露會(派對)</a>上互動極其親密。</p>
                </div>
            </article>
        </section>

        <section class="vt_content4">
            <div class="vt_video_div" id="vt_video_div">
                <h1>櫻巫女開場動畫</h1>
                <video muted src="video/miko_c4.mp4" controls loop></video>
            </div>
            <section class="vt_audio_div" id="vt_audio_div">
                <div>
                    <h4>help miko</h4>
                    <audio src="audio/miko01.mp3" controls></audio>
                    <h4>o_bye</h4>
                    <audio src="audio/miko02.mp3" controls></audio>
                </div>
                <div>
                    <h4>NoNoNoNo</h4>
                    <audio src="audio/miko03.mp3" controls></audio>
                    <h4>FAQ</h4>
                    <audio src="audio/miko04.mp3" controls></audio>
                </div>
            </section>
        </section>
    </div>

    <footer>
        <!-- Copyright &copy;  -->
        <p>Miko是治癒型VTuber</p>
        <div class="footer_top_text"><a href="#" class="go_top go_top1"><img src="images/top.png" title="回去頂部囉"></a>你也想學菁英櫻語嗎?還不馬上加入會員<a href="#" class="go_top go_top2"><img src="images/top.png" title="回去頂部囉"></a></div>
        <p title="還不快加入">＼( ＾∀＾）／</p>
        <p class="footer_pc">本網站使用JavaScript ES6技術，不支援IE瀏覽器</p>

    </footer>


    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/layout.js"></script>
    <script src="js/vt_javascript.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>   
    <script>
    $('[data-fancybox="vt_c1"]').fancybox({
        loop : true
    })
    </script>
</body>
</html>