<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <link rel="shortcut icon" href="images/logo.png"></link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”description” content="兔田佩克拉|兎田ぺこら 長著兔子耳朵容易感到孤獨的女孩子"/>
    <meta name="Keywords" content="兔田佩克拉,兎田ぺこら"/>
    <title>hololive成員|兔田佩克拉-兎田ぺこら</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/vt_style.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <style>
        #mob_menu_div::before{
            content: url(images/mob_pekora.png);
            position:relative;
            left: 5%;
        }
        header .header_btn input{
            border: 2px solid cornflowerblue !important;
        }
        header .header_btn>button{
            color: cornflowerblue !important;
            border: 2px solid cornflowerblue !important;
        }
        .vt_main>section:nth-of-type(odd){
            background: rgb(195, 238, 255);
        }
        .vt_main>section:nth-of-type(even){
            background: rgb(182, 202, 255);
        }
        .vt_audio_div{
            opacity: 0;
            transform: translateY(60%);
        }
        .vt_audio_div::after{
            content: '佩克拉族長-經典音檔';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            color: red;
            padding-bottom: 60px;
            width: 50vw;
            border-bottom: 1px solid rgba(114, 114, 114, 0.2); 
        }

    </style>

    <script src="js/vue.min.js"></script>
    <script>
        window.addEventListener('load',function(){

            let headerData = {
            key:0,
            img:[
                {imgPixivSrc:'https://www.pixiv.net/artworks/87000012', imgSrc:'./images/87000012_pekora_header.jpg',alt:'pixiv87000012'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/78720872', imgSrc:'./images/78720872_pekora_header.jpg',alt:'pixiv78720872'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/84438656', imgSrc:'./images/84438656_pekora_header.jpg',alt:'pixiv84438656'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/86614544', imgSrc:'./images/86614544_pekora_header.jpg',alt:'pixiv84438656'},
            ]}
        
            new Vue({
                el:'#header',
                data:headerData,
                methods: {
                    imgSwitch(index){
                        this.key = (index + this.img.length) % this.img.length;
                    },
                },
                mounted: function(){
                    setInterval(()=>{
                        if(this.key < this.img.length -1){
                            this.key +=1;
                        }else{
                            this.key = 0;
                        }
                    },15000)
                },
            })
        })

    </script>

</head>
<body style="background-color: #d7f6ff;">
    <img src="images/mob_top.png" alt="go_top" id="mob_top" class="mob_btn_anim" title="回去頂部囉">
    <section class="mob_header">
        <label for="mob_menu" class="mob_menu_control" id="mob_menu_control">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </label>
        <input type="checkbox" name="" id="mob_menu">
        <div class="mob_menu" id="mob_menu_div">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="mob_menu3">
                    <a href="#" class="menu3_control">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul class="menu3">
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </section>
    <header id="header"> 
        <section class="slideshow_img">
            <div>
                <!-- <img src="images/miko_header.jpg" class="position_left"> -->
                <a v-for="(item,index) in img" :href="item.imgPixivSrc" target="new" v-show="index === key" ><img :class="{header_switch_img: index===key}" :src="item.imgSrc" :alt="item.alt"></a>
            </div>
            <div class="header_btn">
                <button class="next" @click="imgSwitch(key-1)"><</button>
                <div>
                    <input type="button" v-for="(item,index) in img" @click="imgSwitch(index)" :class="{header_switch_img_btn:index==key}">
                </div>
                <button class="previous" @click="imgSwitch(key+1)">></button>
            </div>
        </section>
    </header>

    <nav>
        <div class="nav_menu">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="nav_menu3">
                    <a href="#">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul>
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </nav>


    <div class="vt_main">
        <section class="vt_content1 vt_content">
            <article id="c1_1">
                <h2>兔田建設社長</h2>
                <div>
                    <div><a href="images/usadapekora.jpg" data-fancybox data-caption="圖片取自於pixiv 86162773 繪師 : @TorinoAqua"><img src="images/usadapekora_title.jpg" alt="兔田佩克拉" title="兔田建設社長"></a></div>
                </div>
                <h3>繪師 : @TorinoAqua</h3>
            </article>
        </section>
        <section class="vt_content2 vt_content">
            <div class="content_pos"><h1>人物介紹</h1></div>
            <article id="c2_1">
                <div class="content_text">
                    <h3>中文名稱 : 兔田佩克拉</h3>
                    <h3>日文名稱 : 兎田ぺこら | うさだぺこら</h3>
                    <p title="譯於hololive官網人物說明">長著兔子耳朵容易感到孤獨的女孩子，頭髮上會插著紅蘿蔔，據本人所述是因為隨時都可以吃到而攜帶著。
                        <br>身高153公分不含兔耳、<span title="與VT前世有關">年齡111歲</span>，生日1月12日。</p>
                    <a href="https://twitter.com/usadapekora" target="new"><img src="images/twitter.svg" class="icon">推特頻道</a>
                    <a href="https://www.youtube.com/channel/UC1DCedRgGHBdm81E1llLhOQ" target="new"><img src="images/youtube.svg" class="icon">YouTube頻道</a>
                </div>
            </article>
        </section>
        <section class="vt_content3 vt_content">
            <div class="content_pos"><h1>VTuber事蹟</h1></div> 
            <article id="c3_1">
                <a href="images/usadapekora_card_1.jpg" data-fancybox="vt_c3" data-caption="圖片取自於pixiv : 86905748 繪師 : @ugume3732" ><img src="images/usadapekora_card_01.jpg" alt="兔子與族長" title="一群兔子和族長"></a>
                <div class="content_text">
                    <h3>族長的稱呼</h3>
                    <p>兔田佩克拉有大量的粉絲，其粉絲共稱為野兔聯盟，族長是兔田佩克拉。
                        直播中經常可以看到野兔們想盡各種辦法<span title="欺負兔田佩克拉感到快樂">虐兔</span>。</p>
                </div>
            </article>
            <article id="c3_2">
                <a href="images/usadapekora_card_2.jpg" data-fancybox="vt_c3" data-caption="圖片取自於pixiv : 85609251 繪師 : @usachan0827" ><img src="images/usadapekora_card_02.jpg" alt="佩克拉與咚醬" title="咚醬纏繞在佩克拉脖子上"></a>
                <div class="content_text">
                    <h3>咚醬吉祥物</h3>
                    <p>圍繞在脖子上的圍巾其實是兔子，名字是咚醬，是佩克拉的好夥伴，2021年4月1日愚人節<span title="咚醬因紅蘿蔔而纏住佩克拉的腳導致負重">佩克拉遭到咚醬的背叛無法逃離監牢</span>。</p>
                </div>
            </article>
            <article id="c3_3">
                <a href="images/usadapekora_card_3.jpg" data-fancybox="vt_c3" data-caption="圖片取自於pixiv : 81343610 繪師 : @Seic_Oh" ><img src="images/usadapekora_card_03.jpg" alt="屑兔繪圖照" title="充滿賤屬性的佩克拉"></a>
                <div class="content_text">
                    <h3>屑兔</h3>
                    <p>由於佩克拉經常對其他成員惡作劇並且還會發出peko、peko的挑釁、嘲笑語氣，充滿賤屬性，因此野兔會用「屑兔」一詞稱呼佩克拉。</p>
                </div>
            </article>
        </section>

        <section class="vt_content4">
            <div class="vt_video_div" id="vt_video_div">
                <h1>洗腦的佩克拉開場動畫</h1>
                <video muted src="video/pekora_c4.mp4" controls loop></video>
            </div>
            <section class="vt_audio_div" id="vt_audio_div">
                <div>
                    <h4>kitira兔語</h4>
                    <audio src="audio/pekora01.mp3" controls></audio>
                    <h4>peko↑peko↓</h4>
                    <audio src="audio/pekora02.mp3" controls></audio>
                </div>
                <div>
                    <h4>歐拉歐拉歐拉歐拉</h4>
                    <audio src="audio/pekora03.mp3" controls></audio>
                    <h4>bitch</h4>
                    <audio src="audio/pekora04.mp3" controls></audio>
                </div>
            </section>
        </section>

    </div>

    <footer>
        <!-- Copyright &copy;  -->
        <p>族長的屬性非常的屑又賤</p>
        <div class="footer_top_text"><a href="#" class="go_top go_top1"><img src="images/top.png" title="回去頂部囉"></a>歡迎你加入野兔聯盟想盡辦法虐兔<a href="#" class="go_top go_top2"><img src="images/top.png" title="回去頂部囉"></a></div>
        <p title="尷尬的顏文字">ー (*￣∀￣*) ー</p>
        <p class="footer_pc">本網站使用JavaScript ES6技術，不支援IE瀏覽器</p>

    </footer>


    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/layout.js"></script>
    <script src="js/vt_javascript.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>   

</body>
</html>