<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="images/logo.png"></link>
    <meta charset="UTF-8">
    <title>VTuber常見術語|VT日翻中頻道</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”description” content="VTuber常見術語|推薦的日翻中頻道"/>
    <meta name="Keywords" content="VTuber術語,VTuber日翻中頻道"/>

    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://ayvc0420.github.io/recommendYoutube.html"/>
    <meta property="og:image" content="https://ayvc0420.github.io/images/maxresdefault.jpg"/>
    <meta property="og:title" content="介紹常見的VTuber術語 推薦的VTuber日翻中頻道">
    <meta property="og:locale" content="zh-TW"/>
    <meta property="og:description" content="介紹常見的VTuber術語 推薦的VTuber日翻中頻道"/>
    <meta property="og:keywords" content="VTuber,VTuber術語,VTuber日翻中頻道"/>

    <meta name="twitter:url" content="https://ayvc0420.github.io/recommendYoutube.html"/>
    <meta name="twitter:title" content="介紹常見的VTuber術語 推薦的VTuber日翻中頻道">
    <meta name="twitter:description" content="介紹常見的VTuber術語 推薦的VTuber日翻中頻道"/>
    <meta name="twitter:image" content="https://ayvc0420.github.io/images/maxresdefault.jpg">
    
    <meta property="name" content="VTuber術語,VTuber日翻中頻道"/>
    <meta property="image" content="https://ayvc0420.github.io/images/maxresdefault.jpg"/>
    <meta property="url" content="https://ayvc0420.github.io/recommendYoutube.html"/>
    <meta property="description" content="介紹常見的VTuber術語 推薦的VTuber日翻中頻道"/>
    <meta property="keywords" content="VTuber,VTuber術語,VTuber日翻中頻道"/>
    
    <meta property="article:tag" content="VTuber術語,VTuber日翻中頻道" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/recommendYoutube.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v11.0&appId=396306465225067&autoLogAppEvents=1" nonce="pELLxFUz"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7GGHVD11L0"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-7GGHVD11L0');
    </script>

</head>
<body style="background-color: #d7f6ff;">
    <img src="images/mob_top.png" alt="go_top" id="mob_top" class="mob_btn_anim" title="回去頂部囉">
    <section class="mob_header">
        <label for="mob_menu" class="mob_menu_control" id="mob_menu_control">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </label>
        <input type="checkbox" name="" id="mob_menu">
        <div class="mob_menu" id="mob_menu_div">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="mob_menu3">
                    <a href="#" class="menu3_control">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul class="menu3">
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </section>


    <header id="header"> 
        <section class="slideshow_img">
            <div>
                <!-- <img src="images/miko_header.jpg" class="position_left"> -->
                <a v-for="(item,index) in img" :href="item.imgPixivSrc" target="new" v-show="index === key" ><img :class="{header_switch_img: index===key}" :src="item.imgSrc" :alt="item.alt"></a>
            </div>
            <div class="header_btn">
                <button class="next" @click="imgSwitch(key-1)"><</button>
                <div>
                    <input type="button" v-for="(item,index) in img" @click="imgSwitch(index)" :class="{header_switch_img_btn:index==key}">
                </div>
                <button class="previous" @click="imgSwitch(key+1)">></button>
            </div>
        </section>
    </header>

    <nav>
        <div class="nav_menu">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="nav_menu3">
                    <a href="#">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul>
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </nav>
    </nav>


    <section class="main">
        <article class="recommend_content1">
            <div class="content1_explanation">
                <p>透過前面的分享介紹你是否對VTuber產生興趣了呢？</p>
                <p>無論你是否剛接觸這個圈子，又或者想加入這個圈子。</p>
                <p>觀看非本國語言的VTuber實況時想要馬上了解他們當下再說什麼是很困難的。</p>
                <p>以下將分享一些VTuber中經常性看見的術語與日翻中頻道。</p>
                <p>透過日翻中頻道所剪輯的一系列影片可以好好的<span title="看看今天自家的VTuber又做了什麼蠢事">看得過癮</span>！</p>
            </div>
            <div class="content1_title" id="c1_title">
                <h2>VTuber圈常見術語</h2>
                <!-- <h3>在這個圈子會有各種術語以下將簡略介紹一些常見術語。</h3> -->
            </div>
            <div class="content1_table">
                
                <table id="c1_table">
                    <tbody>
                        <tr>
                            <td>生肉</td>
                            <td>未翻譯的他國語言作品/影片等等。</td>
                        </tr>
                        <tr>
                            <td>熟肉</td>
                            <td>指個人或團體將生肉影片透過製作字幕等方式提升影片可讀性。</td>
                        </tr>
                        <tr>
                            <td>精華</td>
                            <td>將原影片部分精彩畫面剪輯製作加上字幕、特效等的二次製作影片，常見如:一系列精華等。</td>
                        </tr>
                        <tr>
                            <td title="對於那些說某位V是我眾多單推之一，本人強烈譴責">單推</td>
                            <td>只關注某一位VTuber。</td>
                        </tr>
                        <tr>
                            <td>DD</td>
                            <td>取自日文「誰でも大好き」兩個開頭D字母，與單推相反，關注非常多VTuber。</td>
                        </tr>
                        <tr>
                            <td>箱推</td>
                            <td>指關注推廣整個團體的VTuber，如「hololive」</td>
                        </tr>
                        <tr>
                            <td>出道</td>
                            <td>指VTuber開始活動的那一天。</td>
                        </tr>
                        <tr>
                            <td>中之人</td>
                            <td>指扮演VTuber後真實的人。</td>
                        </tr>
                        <tr>
                            <td>沖塔</td>
                            <td>根據各種資料去挖掘VTuber背後真實的人身份。(大部份的粉絲皆對這部份反感，慎用)</td>
                        </tr>
                        <tr>
                            <td>畢業</td>
                            <td>結束這個VTuber的身份，停止一切活動。</td>
                        </tr>
                        <tr>
                            <td>配信</td>
                            <td>日文「はいしん」的漢字詞，意思與直播相似。</td>
                        </tr>
                        <tr>
                            <td>貼貼</td>
                            <td>日文「てぇてぇ」發音轉換的詞語，縮寫為「TT」，指VTuber親密的互動。</td>
                        </tr>
                        <tr>
                            <td>炎上</td>
                            <td>日文「えんじょう」的漢字詞，指事情越傳越大像燃燒一樣難以撲滅，VT圈中皆有不少次炎上事件。</td>
                        </tr>
                        <tr>
                            <td>某某股</td>
                            <td>常見如「PekoMiko股」，指對象的互動或出場次數增加而導致股價大漲投資成功的意思。</td>
                        </tr>
                        <tr>
                            <td>爸爸</td>
                            <td>通常指VTuber角色的L2D/3D建模師。</td>
                        </tr>
                        <tr>
                            <td>媽媽</td>
                            <td>通常指VTuber角色的設計師/繪師，也有部分繪師是男性。</td>
                        </tr>
                        <tr>
                            <td>SC</td>
                            <td>全名「SuperChat」，指Youtube的超級留言功能，觀眾會用SC表達對VTuber的支持。</td>
                        </tr>
                        <tr>
                            <td>前世</td>
                            <td>指上一個活躍的網路身份，以現在的活躍身份被人挖掘出以前的資料。(不少粉絲對這部分反感，慎用)</td>
                        </tr>
                        <tr>
                            <td>轉生</td>
                            <td>指上一個網路身份停止活動或降低活躍度，以現在這個身份為主要活躍。</td>
                        </tr>
                        <tr>
                            <td>屬性</td>
                            <td>指角色的性格，經常性搭配「傲嬌」、「病嬌」、「遜砲」、「抖S|抖M」、「笨蛋」..等等。</td>
                        </tr>
                        <tr>
                            <td>傲嬌</td>
                            <td>指角色的性格有態度高傲、冷漠等特質，但符合特定條件下會轉變成溫柔、貼心等帶有善意的特質。</td>
                        </tr>
                        <tr>
                            <td>遜砲</td>
                            <td>指角色的個性，日文「ださい｜ダサイ」指角色自信滿滿但遇到事情經常出糗、手足無措，給旁人感覺好蠢、好笨、很俗氣，「遜砲」並非負面詞語，經常與其他詞合併使用如「遜砲萌」。<br>「遜砲」最早起源可追溯至漫畫-惡黨女幹部。</td>
                        </tr>
                        <tr>
                            <td>遜砲萌</td>
                            <td>指角色帶有遜砲的屬性，萌的意思為可愛、令人喜愛，「遜砲萌」指角色遇到事情出糗後表現出的反差極大給部分人帶有「<a href="https://zh.wikipedia.org/wiki/%E8%90%8C" target="new" title='維基百科對"萌"的說明'>萌</a>」的感覺。</td>
                        </tr>
                        <tr>
                            <td>XX勢</td>
                            <td>如「料理勢」直播內容為料理特色的Vtuber，另稱料理V。</td>
                        </tr>
                        <tr>
                            <td>草</td>
                            <td>日文「くさ」，以www語助詞演變而來，當VTuber做出令人大笑的舉動時會用「草」代替www。</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>

        <article class="recommend_content2">
            <div class="content2_title" id="c2_title">
                <h2>以下是個人推薦的VTuber日翻中YouTube頻道</h2>
            </div>
            <div class="content2_table">
                <table id="c2_table">
                    <thead>
                        <tr>
                            <th>順序</th>
                            <th>頻道名稱</th>
                            <th>頻道連結</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td title="唯一單推白上吹雪">なぞなぞ仮面</td>
                            <td><a href="https://www.youtube.com/channel/UCiiUiG1iSAz5Pip5Qn1m4aQ" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>hololive 露西婭監視中</td>
                            <td><a href="https://www.youtube.com/channel/UCXR8XqwKWHSFQ26ec9-4NUA" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>米凱胡烤起來</td>
                            <td><a href="https://www.youtube.com/channel/UCWBxpy9L8SrR7e7RfYSIpYw" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>寶鐘兔賊團Hololive布教砲撃隊</td>
                            <td><a href="https://www.youtube.com/channel/UCEPcLKruXUnbZ_5uN06Xztw" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>ウルトラP【戌神切り抜き.ch】</td>
                            <td><a href="https://www.youtube.com/channel/UC9PAEgyE8LdWN9nJopahRIg" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>克巴の翻譯 - 烤肉屋</td>
                            <td><a href="https://www.youtube.com/channel/UCSDc6bjIfFMCYClGbqKigvg" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Hololive大好き台湾勢</td>
                            <td><a href="https://www.youtube.com/channel/UCZHfuQl4Tisotwoz1Ns0iuQ" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>阿崙的熟肉製所</td>
                            <td><a href="https://www.youtube.com/channel/UCwnVtGbMROSpxoD4g7ia47g" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>9</td>
                            <td>UF烤肉莊【ゆーエフ切り抜き莊】</td>
                            <td><a href="https://www.youtube.com/channel/UC43Si2gldb0ZUW5xcv4ao3w" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>Hololiveに肝を捧げよう</td>
                            <td><a href="https://www.youtube.com/channel/UCLB9LPemPH4fb8Nci1cDzBg" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>11</td>
                            <td>屍體在翻譯 Hololive Vtuber</td>
                            <td><a href="https://www.youtube.com/channel/UC5EnPNvbYTKwJC2NxL4OwRg" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>12</td>
                            <td>Hololive精華【偶像撿到槍】</td>
                            <td><a href="https://www.youtube.com/channel/UCFQIN_DGnTI1Szlpb8F7Glg" target="new">YouTube頻道</a></td>
                        </tr>
                        <tr>
                            <td>13</td>
                            <td>面碼</td>
                            <td><a href="https://www.youtube.com/channel/UC4R5TJWPjsxK49bjSAIJhbQ" target="new">YouTube頻道</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>

        <article class="recommend_content3">
            <div class="content3_time" id="content3_time">
                <h4>距離今年結束還有</h4>
                <div id="now_year"></div>
                <h2 title="日本時間比台灣時間還要早一個小時 不要忘記了">(hololive年末節目)</h2>
            </div>
            <div class="content3_clock" id="content3_clock">
                <div class="time"></div>
                <div class="short" id="short"></div>
                <div class="middle" id="middle"></div>
                <div class="long" id="long"></div>
            </div>
            <!-- <div class="content3_fb_pc">
                <div id="facebook">
                    <div class="fb-comments" data-href="https://ayvc0420.github.io/recommendYoutube.html" data-width="600" data-numposts="5"></div>
                </div>
            </div> -->
            <!-- <div class="content3_fb_mob">
                <div id="facebook">
                    <div class="fb-comments" data-href="https://ayvc0420.github.io/recommendYoutube.html" data-width="400" data-numposts="5"></div>
                </div>
            </div> -->
            <div class="content3_fb">
                <div id="facebook">
                    <div class="fb-comments" data-href="https://ayvc0420.github.io/recommendYoutube.html" data-width="400" data-numposts="5"></div>
                </div>
            </div>
        </article>
    </section>

    <footer>
        <!-- Copyright &copy;  -->
        <p>本頁面所分享的術語如有任何錯誤請與我聯絡或留言補充告知</p>
        <div class="footer_top_text"><a href="#" class="go_top go_top1"><img src="images/top.png" title="回去頂部囉"></a>如您為頻道擁有者不想出現在本頁面與我聯絡<a href="#" class="go_top go_top2"><img src="images/top.png" title="回去頂部囉"></a></div>
        <p></p>
        <a href="mailto:ayvc0420@gmail.com">ayvc0420@gmail.com</a>
        <p title="跪謝">ｍ（__ __）ｍ</p>
        <!-- <p>為確保效能消耗最低，本網頁有異常顯示請重新整理頁面。</p> -->
        <p class="footer_pc">本網站使用JavaScript ES6技術，不支援IE瀏覽器</p>

    </footer>

    <!-- vue2.6.14 -->
    <script src="js/vue.min.js"></script>
    <script>
        window.addEventListener('load',function(){
            let headerData = {
            key:0,
            img:[
                {imgPixivSrc:'https://www.pixiv.net/artworks/90195061', imgSrc:'./images/rushia_header.webp',alt:'pixiv90195061'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/85282387', imgSrc:'./images/85282387_header.webp',alt:'pixiv85282387'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/88300974', imgSrc:'./images/sakuramiko_header.webp',alt:'pixiv88300974'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/92148396', imgSrc:'./images/korone_header.webp',alt:'pixiv92148396'},
            ]}


            new Vue({
                el:'#header',
                data:headerData,
                methods: {
                    imgSwitch(index){
                        this.key = (index + this.img.length) % this.img.length;
                    },
                },
                mounted: function(){
                    setInterval(()=>{
                        if(this.key < this.img.length -1){
                            this.key +=1;
                        }else{
                            this.key = 0;
                        }
                    },15000)
                },
            })
        })
    </script>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/layout.js"></script>
    <script src="js/recommendYoutube.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>    
</body>
</html>