<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <link rel="shortcut icon" href="images/mob_rushia.png"></link>
    <meta charset="UTF-8">
    <title>潤羽露西婭-潤羽るしあ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”description” content="潤羽露西婭|潤羽るしあ 是一名就讀魔法學校的死靈法師"/>
    <meta name="Keywords" content="潤羽露西婭,潤羽るしあ"/>

    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://ayvc0420.github.io/rushia.html"/>
    <meta property="og:image" content="https://ayvc0420.github.io/images/89695133_rushia_header.jpg"/>
    <meta property="og:title" content="潤羽露西婭|潤羽るしあ 是一名就讀魔法學校的死靈法師">
    <meta property="og:locale" content="zh-TW"/>
    <meta property="og:description" content="潤羽露西婭|潤羽るしあ 是一名就讀魔法學校的死靈法師"/>
    <meta property="og:keywords" content="VTuber,潤羽露西婭,潤羽るしあ"/>
    
    <meta name="twitter:url" content="https://ayvc0420.github.io/rushia.html"/>
    <meta name="twitter:title" content="潤羽露西婭|潤羽るしあ 是一名就讀魔法學校的死靈法師">
    <meta name="twitter:description" content="潤羽露西婭|潤羽るしあ 是一名就讀魔法學校的死靈法師"/>
    <meta name="twitter:image" content="https://ayvc0420.github.io/images/89695133_rushia_header.jpg">
    
    <meta property="name" content="介紹-VTuber潤羽露西婭"/>
    <meta property="image" content="https://ayvc0420.github.io/images/89695133_rushia_header.jpg"/>
    <meta property="url" content="https://ayvc0420.github.io/rushia.html"/>
    <meta property="description" content="潤羽露西婭|潤羽るしあ 是一名就讀魔法學校的死靈法師"/>
    <meta property="keywords" content="VTuber,潤羽露西婭,潤羽るしあ"/>

    <meta property="article:tag" content="潤羽露西婭,潤羽るしあ" />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/vt_style.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <style>
        #mob_menu_div::before{
            content: url(images/mob_rushia.png);
            position:relative;
            left: 5%;
        }
        header .header_btn input{
            border: 2px solid olivedrab !important;
        }
        header .header_btn>button{
            color: olivedrab !important;
            border: 2px solid olivedrab !important;
        }
        .vt_main>section:nth-of-type(odd){
            background: rgb(225, 255, 224);
        }
        .vt_main>section:nth-of-type(even){
            background: rgb(159, 255, 183);
        }
        #vt_audio_title{
            text-align: center;
            font-size: 30px;
            padding-top: 20px;
            margin: auto;
            color: rgb(255, 0, 0);
            font-weight: 700;
            padding-bottom: 60px;
            line-height: 1.3;
            width: 70vw;
            border-bottom: 1px solid rgba(114, 114, 114, 0.2); 
            opacity: 0;
            transform: translateX(-100%);
        }
        /* rushia不放svg */
        .vt_audio_div::before{
            opacity: 0;
        }

    </style>

    <script src="js/vue.min.js"></script>
    <script>
        window.addEventListener('load',function(){

            let headerData = {
            key:0,
            img:[
                {imgPixivSrc:'https://www.pixiv.net/artworks/81489548', imgSrc:'./images/81489548_rushia_header.webp',alt:'pixiv81489548'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/81489548', imgSrc:'./images/81489548_rushia_header_1.webp',alt:'pixiv81489548'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/85978281', imgSrc:'./images/85978281_rushia_header.webp',alt:'pixiv85978281'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/89695133', imgSrc:'./images/89695133_rushia_header.webp',alt:'pixiv85978281'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/94561637', imgSrc:'./images/94561637_rushia_header.webp',alt:'pixiv94561637'},
                {imgPixivSrc:'https://www.pixiv.net/artworks/94561637', imgSrc:'./images/94561637_rushia_header_1.webp',alt:'pixiv94561637'},
            ]}
        
            new Vue({
                el:'#header',
                data:headerData,
                methods: {
                    imgSwitch(index){
                        this.key = (index + this.img.length) % this.img.length;
                    },
                },
                mounted: function(){
                    setInterval(()=>{
                        if(this.key < this.img.length -1){
                            this.key +=1;
                        }else{
                            this.key = 0;
                        }
                    },15000)
                },
            })
        })

    </script>


</head>
<body style="background-color: #f4fff8;">
    <img src="images/mob_top.png" alt="go_top" id="mob_top" class="mob_btn_anim" title="回去頂部囉">
    <section class="mob_header">
        <label for="mob_menu" class="mob_menu_control" id="mob_menu_control">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </label>
        <input type="checkbox" name="" id="mob_menu">
        <div class="mob_menu" id="mob_menu_div">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="mob_menu3">
                    <a href="#" class="menu3_control">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul class="menu3">
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </section>
    <header id="header"> 
        <section class="slideshow_img">
            <div>
                <!-- <img src="images/miko_header.jpg" class="position_left"> -->
                <a v-for="(item,index) in img" :href="item.imgPixivSrc" target="new" v-show="index === key" ><img :class="{header_switch_img: index===key}" :src="item.imgSrc" :alt="item.alt"></a>
            </div>
            <div class="header_btn">
                <button class="next" @click="imgSwitch(key-1)"><</button>
                <div>
                    <input type="button" v-for="(item,index) in img" @click="imgSwitch(index)" :class="{header_switch_img_btn:index==key}">
                </div>
                <button class="previous" @click="imgSwitch(key+1)">></button>
            </div>
        </section>
    </header>
    
    <nav>
        <div class="nav_menu">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="nav_menu3">
                    <a href="#">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul>
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </nav>


    <div class="vt_main">
        <section class="vt_content1 vt_content">
            <article id="c1_1">
                <input type="radio" name="control_c1" id="control_c1_img1" checked>
                <input type="radio" name="control_c1" id="control_c1_img2">
                <div class="c1_label_div">
                    <label for="control_c1_img1" class="c1_label"></label>
                    <label for="control_c1_img2" class="c1_label"></label>
                </div>
                <div class="c1_title1">
                    <h2>睡夢中的露西婭</h2>
                    <div>
                        <div><a href="images/76193394_rushia_content.jpg" data-fancybox="vt_c1" data-caption="睡夢中的露西婭 | 圖片取自於pixiv : 76193394 繪師 : @naive_to"><img src="images/76193394_rushia_title.jpg" alt="潤羽露西婭" title="睡夢中的露西婭"></a></div>
                    </div>
                </div>
                <div class="c1_title2">
                    <h2>黑暗露西婭</h2>
                    <div>
                        <div><a href="images/1273069461403131904_rushia_title.png" data-fancybox="vt_c1" data-caption="黑暗露西婭 | 圖片取自於twitter推文1273069461403131904 繪師 : @shirubetokiwa"><img src="images/1273069461403131904_rushia_title.jpg" alt="潤羽露西婭" title="黑暗露西婭"></a></div>
                    </div>
                </div>
            </article>
        </section>
        <section class="vt_content2 vt_content">
            <div class="content_pos"><h1 id="c2_h1">人物介紹</h1></div>
            <article id="c2_1">
                <div class="content_text">
                    <h3>中文名稱 : 潤羽露西婭</h3>
                    <h3>日文名稱 : 潤羽るしあ | うるはるしあ</h3>
                    <p title="譯於hololive官網人物說明">是一名就讀魔法學校的死靈法師，不擅長在公開場合出現，不喜歡孤獨一人因此會與死靈跟屍體聊天。
                        <br>身高143公分、年齡16歲，生日1月22日。</p>
                    <a href="https://twitter.com/uruharushia" target="new"><img src="images/twitter.svg" class="ytb_icon icon">推特頻道</a>
                    <a href="https://www.youtube.com/channel/UCl_gCybOJRIgOXw6Qb4qJzQ" target="new"><img src="images/youtube.svg" class="ytb_icon icon">YouTube頻道</a>
                </div>
            </article>
        </section>
        <section class="vt_content3 vt_content">
            <div class="content_pos"><h1 id="c3_h1">VTuber事蹟</h1></div> 
            <article id="c3_1">
                <a href="images/Osakilo_rushia.jpg" data-fancybox="vt_c3" data-caption="圖片取自於巴哈Osakilo [繪圖] 插圖回顧 - 潤羽露西婭初號機篇" ><img src="images/Osakilo_card.jpg" alt="潤羽露西婭" title="初號機露西婭"></a>
                <div class="content_text">
                    <h3>初號機稱呼</h3>
                    <p>初號機為新世紀福音戰士登場的角色，因露西婭直播時經常突然暴吼與暴走的初號機樣子非常相似，因此有<a href="https://youtu.be/xb64No_JSCU" target="new">露西婭初號機</a>的稱呼。</p>
                </div>
            </article>
            <article id="c3_2">
                <a href="images/hololive_rushia.png" data-fancybox="vt_c3" data-caption="圖片取自於hololive官網 人物設定" ><img src="images/hololive_card_rushia.jpg" alt="潤羽露西婭" title="平胸露西婭"></a>
                <div class="content_text">
                    <h3>牆壁的外號</h3>
                    <p>hololive官方將一週年紀念的露西婭的滑鼠墊造型設計為平面。<span title="只要你在露西婭影片留下平、貧相關字眼，馬上就會有一群信徒為你上香">至此開始的外號逐漸傳出名氣...。</span>平時<span title="露西婭粉絲的稱呼">粉屍</span>會在直播中嘲諷露西婭平胸。</p>
                </div>
            </article>
            <article id="c3_3">
                <a href="images/destroy_card.jpg" data-fancybox="vt_c3" data-caption="圖片取自於hololive 3D動畫 【アニメ】弱肉強食 影片截圖" ><img src="images/destroy_card_1.jpg"  alt="潤羽露西婭" title="戰鬥力破表的露西婭"></a>
                <div class="content_text">
                    <h3>戰鬥力破表</h3>
                    <p>與初號機由來相似，直播時經常發出比平常還要大上數倍音量的聲音，hololive<a href="https://youtu.be/y0yB6bXuf1E" target="new">3D動畫</a>中也可看見官方給予露西婭驚人的<span title="一拳將白堊紀時代終結">破壞力</span>設定。</p>
                </div>
            </article>
        </section>

        <section class="vt_content4">
            <div class="vt_video_div" id="vt_video_div">
                <h1>露西婭洗腦YO~YO~YO~</h1>
                <video muted src="video/rushia_c4.mp4" controls loop></video>
            </div>
            <div id="vt_audio_title"><h2>露西婭經典音檔<br>以下部分音檔播放時注意耳膜</h2></div>
            <section class="vt_audio_div" id="vt_audio_div">
                <div>
                    <div id="audio1">
                        <h4>Rushia Boing Boing</h4>
                        <audio src="audio/rushia01.mp3" controls></audio>
                    </div>
                    <div id="audio2">
                        <h4>初號機之吼</h4>
                        <audio src="audio/rushia02.mp3" controls></audio>
                    </div>
                </div>
                <div>
                    <div id="audio3">
                        <h4>垃圾遊戲</h4>
                        <audio src="audio/rushia03.mp3" controls></audio>
                    </div>
                    <div id="audio4">
                        <h4>為什麼!!??</h4>
                        <audio src="audio/rushia04.mp3" controls></audio>
                    </div>
                </div>
                <div>
                    <div id="audio5">
                        <h4>露西婭的鑽石</h4>
                        <audio src="audio/rushia05.mp3" controls></audio>
                    </div>
                    <div id="audio6">
                        <h4>yabai!!!</h4>
                        <audio src="audio/rushia06.mp3" controls></audio>
                    </div>
                </div>
                <div>
                    <div id="audio7">
                        <h4>好痛</h4>
                        <audio src="audio/rushia07.mp3" controls></audio>
                    </div>
                    <div id="audio8">
                        <h4>空~露西婭~~~~</h4>
                        <audio src="audio/rushia08.mp3" controls></audio>
                    </div>
                </div>
                <div>
                    <div id="audio9">
                        <h4>hi honey</h4>
                        <audio src="audio/rushia09.mp3" controls></audio>
                    </div>
                    <div id="audio10">
                        <h4 title="取於hololive3D動畫 弱肉強食">為什麼露西婭要受這種苦?</h4>
                        <audio src="audio/rushia10.mp3" controls></audio>
                    </div>
                </div>
            </section>
            <div id="rushia_audio_clock">
                <img src="images/rushia_audio.jpg" alt="露西婭做鬼臉">
                <h2>露西婭牌鬧鐘</h2>
                <span id="rushia1">設定音量大小<input type="range" min="0" max="1" id="rushiaVolume" step="0.01" value="1" title="預設最滿的音量"><span id="rushiaVolumeNumber"></span></span>
                <!-- <span id="rushia1">設定音量大小-<input type="number" id="rushiaVolume" placeholder="0最小1最大 如0.87" step="0.1"></span> -->
                <span id="rushia2">設定倒數秒數-<input type="number" id="rushiaSecond" placeholder="僅限輸入數字"></span>
                <span class="rushia_reciprocal"></span>
                <span id="rushia_btn">
                    <button class="rushiaReciprocal" id="rushiaReciprocal">開始倒數!</button>
                    <!-- <button class="rushiaStop" id="rushiaStop">停止</button> -->
                    <audio src="audio/rushiaClock.mp3" id="music" loop></audio>
                </span>
            </div>
        </section>
    </div>

    <footer>
        <!-- Copyright &copy;  -->
        <p>露西亞牌鬧鐘請謹慎小心使用</p>
        <p>在露西婭相關影片下方留言平、壁等字眼</p>
        <div class="footer_top_text"><a href="#" class="go_top go_top1"><img src="images/top.png" title="回去頂部囉"></a>就算你是邊緣人也會有一堆信徒幫你上香<a href="#" class="go_top go_top2"><img src="images/top.png" title="回去頂部囉"></a></div>
        <p title="上香">\|/ __ (ಠ_ಠ) __ \|/</p>
        <!-- <p>為確保效能消耗最低，本網頁有異常顯示請重新整理頁面。</p> -->
        <p>如您的圖片不想出現在網站上請與我聯絡!</p>
        <p>もし貴方の写真は掲載を希望されない場合は、ご連絡いただければ幸いです</p>
        <p class="footer_pc">本網站使用JavaScript ES6技術，不支援IE瀏覽器</p>

    </footer>


    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/layout.js"></script>
    <script src="js/vt_rushia.js"></script>
    <script src="js/rushia_audio.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>   

</body>
</html>