<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <link rel="shortcut icon" href="images/logo.png"></link>
    <meta charset="UTF-8">
    <title>速覽VTuber</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name=”description” content="速覽VTuber"/>
    <meta name="Keywords" content="VTuber,速覽VTuber"/>

    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://ayvc0420.github.io/vtuber.html"/>
    <meta property="og:image" content="https://ayvc0420.github.io/images/maxresdefault.jpg"/>
    <meta property="og:title" content="速覽VTuber 收錄各類型活躍度高的VTuber頁面">
    <meta property="og:locale" content="zh-TW"/>
    <meta property="og:description" content="速覽VTuber 收錄各類型活躍度高的VTuber頁面"/>
    <meta property="og:keywords" content="VTuber,速覽VTuber"/>
    
    <meta name="twitter:url" content="https://ayvc0420.github.io/vtuber.html"/>
    <meta name="twitter:title" content="速覽VTuber 收錄各類型活躍度高的VTuber頁面">
    <meta name="twitter:description" content="速覽VTuber 收錄各類型活躍度高的VTuber頁面"/>
    <meta name="twitter:image" content="https://ayvc0420.github.io/images/maxresdefault.jpg">
    
    <meta property="name" content="速覽VTuber"/>
    <meta property="image" content="https://ayvc0420.github.io/images/maxresdefault.jpg"/>
    <meta property="url" content="https://ayvc0420.github.io/vtuber.html"/>
    <meta property="description" content="速覽VTuber 收錄各類型活躍度高的VTuber頁面"/>
    <meta property="keywords" content="VTuber,速覽VTuber"/>

    <meta property="article:tag" content="VTuber,速覽VTuber"/>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/introduce.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">

    <style>
        .fancybox-image[src="./images/vt_078.jpg"]{
            border-radius: 50%;
        }
        article p>a{
            color: rgb(0, 4, 255);
            transition: all .3s;
        }
        article p>a:hover{
            color: coral;
        }
    </style>
    <script src="js/vue.min.js"></script>
    <script>
        window.addEventListener('load',function(){

            
                    let headerData = {
                    key:0,
                    img:[
                        {imgPixivSrc:'https://www.pixiv.net/artworks/90195061', imgSrc:'./images/rushia_header.webp',alt:'pixiv90195061'},
                        {imgPixivSrc:'https://www.pixiv.net/artworks/91479662', imgSrc:'./images/usadapekora_header.webp',alt:'pixiv91479662'},
                        {imgPixivSrc:'https://www.pixiv.net/artworks/88300974', imgSrc:'./images/sakuramiko_header.webp',alt:'pixiv88300974'},
                        {imgPixivSrc:'https://www.pixiv.net/artworks/92148396', imgSrc:'./images/korone_header.webp',alt:'pixiv92148396'},
                    ]}
            
                    new Vue({
                        el:'#header',
                        data:headerData,
                        methods: {
                            imgSwitch(index){
                                this.key = (index + this.img.length) % this.img.length;
                            },
                        },
                        mounted: function(){
                            setInterval(()=>{
                                if(this.key < this.img.length -1){
                                    this.key +=1;
                                }else{
                                    this.key = 0;
                                }
                            },15000)
                        },
                    })
        })

    </script>

</head>
<body style="background-color: #d7f6ff;">
    <img src="images/mob_top.png" alt="go_top" id="mob_top" class="mob_btn_anim" title="回去頂部囉">
    <section class="mob_header">
        <label for="mob_menu" class="mob_menu_control" id="mob_menu_control">
            <svg width="50" height="40" class="svg1" id="svg1">
                <line x1="10" y1="10" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="20" x2="40" y2="20" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="30" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
            <svg width="50" height="40" class="svg2" id="svg2">
                <line x1="10" y1="30" x2="40" y2="10" stroke="black" stroke-width="4"> </line>
                <line x1="10" y1="10" x2="40" y2="30" stroke="black" stroke-width="4"> </line>
            </svg>
        </label>
        <input type="checkbox" name="" id="mob_menu">
        <div class="mob_menu" id="mob_menu_div">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="mob_menu3">
                    <a href="#" class="menu3_control">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul class="menu3">
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </section>

    <header id="header"> 
        <section class="slideshow_img">
            <div>
                <!-- <img src="images/miko_header.jpg" class="position_left"> -->
                <a v-for="(item,index) in img" :href="item.imgPixivSrc" target="new" v-show="index === key" ><img :class="{header_switch_img: index===key}" :src="item.imgSrc" :alt="item.alt"></a>
            </div>
            <div class="header_btn">
                <button class="next" @click="imgSwitch(key-1)"><</button>
                <div>
                    <input type="button" v-for="(item,index) in img" @click="imgSwitch(index)" :class="{header_switch_img_btn:index==key}">
                </div>
                <button class="previous" @click="imgSwitch(key+1)">></button>
            </div>
        </section>
    </header>

    <nav>
        <div class="nav_menu">
            <ul>
                <li><a href="index.html">首頁</a></li>
                <li><a href="vtuber.html">速覽VTuber</a></li>
                <li class="nav_menu3">
                    <a href="#">介紹成員&nbsp;<img src="images/chevron-down.svg" class="nav_down"></a>
                    <ul>
                        <li><a href="pekora.html">兔田佩克拉</a></li>
                        <li><a href="miko.html">櫻巫女</a></li>
                        <li><a href="rushia.html">潤羽露西婭</a></li>
                        <li><a href="korone.html">戌神沁音</a></li>
                        <li><a href="chloe.html">沙花叉克蘿耶</a></li>
                        <li><a href="https://www.hololive.tv/member" target="new">hololive官網-全成員</a></li>
                    </ul>
                </li>
                <li><a href="recommendYoutube.html">介紹術語及YouTube頻道翻譯</a></li>
            </ul>
        </div>
    </nav>
    </nav>


    <section class="main" id="main">

        <div class="main_header">
            <h2>會動的露西婭鎮樓</h2>
            <div class="main_img">
                <a href="images/rushia_80035153.jpg" data-fancybox data-caption="鎮樓露西婭 圖片取自於pixiv 80035153 繪師 : @suhiyoru_isu15"><img src="images/rushia_80035153_small.jpg" alt="露西婭的照片" title="露西婭托腮看著你"></a>
            </div>
        </div>
        <div class="choose">
            <span>
                選擇國家/組:
                <select v-model="areaOption" id="areaChange">
                    <option v-for="(item, index) in area" :value="item">{{item}}</option>
                </select>
            </span>
            <span>一共有 {{vtNumber}} 位</span>
        </div>

        <!-- <article v-for="item in vtuberData0" class="vt_player">computed的-->
        <article v-for="item in vtuberData" class="vt_player" v-show="item.area === areaOption || areaOption === '全部'">
            <div>
                <img :src="item.img" :alt="item.name" :title="item.name+'圖片'">
            </div>
            <div>
                <h3 :title="item.name">{{item.name}}</h3>
                <p v-html="item.content"></p>
                <a :href="item.href" target="new"><div class="player_href" title="前往VTuber的頻道">頻道連結<img src="images/youtube.svg"></div></a>
            </div>
        </article>

            <!-- <div class="vt_player"> 舊-v1.0.0
                <div>
                    <img src="images/vt_42.jpg" alt="友人A" title="友人A">
                </div>
                <div>
                    <h3 title="驚不驚喜，意不意外">hololive官方人員-友人A</h3>
                    <p>hololive-Group<br>實況/影片類型:各項發表、雜談</p>
                    <a href="https://www.youtube.com/channel/UCJFZiqLMntJufDCHc6bQixg" target="new"><div class="player_href"><img src="images/youtube.svg">頻道連結</div></a>
                </div>
            </div> -->

    </section>

    <footer>
        <!-- Copyright &copy;  -->
        <p>本頁面蒐集VTuber相關資訊，排序規則不固定</p>
        <!-- 作者1/2單推露西婭因此排第一 -->
        <div class="footer_top_text"><a href="#" class="go_top go_top1"><img src="images/top.png" title="回去頂部囉"></a>如您為頻道擁有者，資訊不想出現在此處請與我聯絡!<a href="#" class="go_top go_top2"><img src="images/top.png" title="回去頂部囉"></a></div>
        <p><a href="mailto:ayvc0420@gmail.com">ayvc0420@gmail.com</a></p>
        <p title="跪謝">ｍ（__ __）ｍ</p>
        <!-- <p>為確保效能消耗最低，本網頁有異常顯示請重新整理頁面。</p> -->
        <p class="footer_pc">本網站使用JavaScript ES6技術，不支援IE瀏覽器</p>
    </footer>

    <!-- <script src="js/axios.js"></script> -->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/layout.js"></script>
    <script src="js/introduceVue.js"></script>
    <script src="js/introduce.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>    
</body>
</html>